In [11]:
import pandas as pd
import numpy as np

In [34]:
df_c = pd.read_csv('./data/국내+고층+주변국.csv')
df_c.head()

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,상하이이슬점 온도,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도
0,1996-01-01,-3.2,-7.9,2.5,0.0,0.0,6.0,340.0,3.5,290.0,...,2.7000,9.466667,10.4,8.2,28.6000,10.0,4.666667,0.0,1014.266667,-7.866667
1,1996-01-02,0.2,-3.9,3.9,0.0,0.0,9.3,230.0,3.8,230.0,...,-0.2625,2.550000,9.6,-3.9,30.0750,40.0,4.625000,0.0,1025.587500,-14.050000
2,1996-01-03,-4.5,-8.5,5.5,0.0,0.0,17.5,270.0,8.2,290.0,...,-1.0625,-1.712500,1.0,-4.3,37.0375,60.0,2.125000,0.0,1028.212500,-14.887500
3,1996-01-04,-5.4,-10.7,-0.1,0.0,0.0,7.1,270.0,3.5,270.0,...,3.3125,1.362500,5.3,-2.4,54.5000,30.0,1.500000,0.0,1018.650000,-7.100000
4,1996-01-05,-0.1,-2.1,2.0,0.0,2.0,7.8,70.0,3.7,70.0,...,5.6250,0.650000,5.2,-2.7,69.2000,40.0,2.500000,0.0,1024.350000,-4.725000

In [35]:
# 자외선 데이터

df_u = pd.read_csv('./data/자외선최종(2005-2020).csv')
df_u.tail()

              시간  자외선 B 일최고값
6204  2020-12-27       0.041
6205  2020-12-28       0.045
6206  2020-12-29       0.028
6207  2020-12-30       0.048
6208  2020-12-31       0.050

In [36]:
# 보간법으로 채우기

df_u['자외선 B 일최고값'] = df_u['자외선 B 일최고값'].interpolate()
df_u.isnull().sum()

시간            0
자외선 B 일최고값    0
dtype: int64

In [37]:
# 자외선 추가하기

df_c1 = pd.merge(df_c,df_u, how='left', on='시간' )
df_c1

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,자외선 B 일최고값
0,1996-01-01,-3.2,-7.9,2.5,0.0,0.0,6.0,340.0,3.5,290.0,...,9.466667,10.4,8.2,28.6000,10.0,4.666667,0.00000,1014.266667,-7.866667,NaN
1,1996-01-02,0.2,-3.9,3.9,0.0,0.0,9.3,230.0,3.8,230.0,...,2.550000,9.6,-3.9,30.0750,40.0,4.625000,0.00000,1025.587500,-14.050000,NaN
2,1996-01-03,-4.5,-8.5,5.5,0.0,0.0,17.5,270.0,8.2,290.0,...,-1.712500,1.0,-4.3,37.0375,60.0,2.125000,0.00000,1028.212500,-14.887500,NaN
3,1996-01-04,-5.4,-10.7,-0.1,0.0,0.0,7.1,270.0,3.5,270.0,...,1.362500,5.3,-2.4,54.5000,30.0,1.500000,0.00000,1018.650000,-7.100000,NaN
4,1996-01-05,-0.1,-2.1,2.0,0.0,2.0,7.8,70.0,3.7,70.0,...,0.650000,5.2,-2.7,69.2000,40.0,2.500000,0.00000,1024.350000,-4.725000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9735,2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,...,22.200000,26.1,17.8,68.6500,350.0,2.250000,0.00000,1013.300000,15.925000,NaN
9736,2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,...,23.200000,28.4,18.9,75.6250,320.0,1.500000,-2.07536,1013.387500,18.337500,NaN
9737,2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,...,20.550000,21.9,18.8,92.9875,50.0,0.875000,-2.07536,1014.112500,19.362500,NaN
9738,2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,...,22.400000,24.3,21.4,93.1250,40.0,1.500000,-2.07536,1013.275000,21.212500,NaN
9739,2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,...,19.912500,21.7,18.8,94.7875,50.0,2.625000,-2.07536,1012.675000,19.050000,NaN

# 통합기후+ 자외선(2005 ~ 2019)

In [38]:
# 인덱스 설정
df_c1 = df_c1.set_index('시간')

# 구간(2000년 ~2019년)
df_c2 = df_c1.loc['2005-01-01':'2019-12-31']
df_c2

,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,서울평균 풍속,...,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,자외선 B 일최고값
시간,,,,,,,,,,,,,,,,,,,,,
2005-01-01,-4.9,-8.8,-1.0,0.0,0.0,7.5,290.0,4.8,290.0,2.1,...,-2.4250,1.3,-7.8,36.7375,20.0,4.125,0.0,1028.7375,-15.5500,0.036
2005-01-02,0.4,-5.0,4.5,0.0,0.0,9.8,230.0,6.1,250.0,2.8,...,1.7750,5.4,-1.8,45.7000,10.0,5.750,0.0,1018.0500,-9.5750,0.032
2005-01-03,2.9,-2.0,4.9,0.0,1.5,12.0,250.0,5.9,290.0,3.6,...,-0.6375,4.0,-4.9,37.5500,70.0,4.375,0.0,1029.3625,-14.1500,0.027
2005-01-04,-4.9,-7.4,-1.2,0.0,0.0,13.1,290.0,6.4,290.0,3.2,...,-3.7750,1.1,-7.3,36.2625,280.0,2.625,0.0,1035.5125,-17.3375,0.040
2005-01-05,-3.8,-8.8,0.6,0.0,0.0,6.0,70.0,3.2,70.0,1.6,...,-0.5250,0.7,-4.1,47.6375,10.0,3.125,0.0,1027.5750,-11.2125,0.044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-27,-1.7,-4.6,2.6,0.0,0.0,7.7,290.0,4.3,290.0,2.1,...,5.2500,8.8,0.9,42.1000,350.0,3.500,0.0,1022.8000,-7.0750,0.046
2019-12-28,1.1,-3.6,6.1,0.0,0.0,5.8,70.0,3.7,70.0,2.0,...,8.7250,12.7,4.9,39.7250,350.0,4.250,0.0,1019.5500,-4.4500,0.042
2019-12-29,3.8,1.1,6.2,0.0,1.4,6.6,110.0,4.4,70.0,2.9,...,7.4000,11.9,4.9,62.4250,310.0,3.000,0.0,1021.8250,0.4000,0.017
2019-12-30,2.7,-5.7,6.8,0.0,0.4,13.1,320.0,7.4,320.0,2.9,...,-3.9500,-0.6,-8.9,32.2250,50.0,3.000,0.0,1039.9000,-19.1500,0.035
2019-12-31,-7.9,-10.9,-4.5,0.0,0.0,10.8,340.0,7.5,340.0,3.1,...,-3.3500,0.6,-10.0,32.3000,340.0,2.000,0.0,1037.7250,-18.9250,0.049

In [41]:
df_c2.isnull().sum().sum()

0

# 타겟 뽑기

In [40]:
df_gu = pd.read_csv('./data/구제역_1.csv')
df_gu

,가축전염병명,농장명(농장주),농장소재지,발생일자,축종(품종),발생두수(마리),진단기관,종식일,발생일시,발생장소
0,구제역,일호농장,충청북도 충주시 주덕읍 당우리,2019-01-31 (2019-01-31),소-한우,-,구제역진단과,0025-12-19,2019-01-31,충청북도 충주시
1,구제역,황희선,경기도 안성시 양성면 방축리,2019-01-29 (2019-01-29),소-한우,-,구제역진단과,NaN,2019-01-29,경기도 안성시
2,구제역,이한모,경기도 안성시 금광면 오산리,2019-01-28 (2019-01-29),소-젖소,-,구제역진단과,NaN,2019-01-28,경기도 안성시
3,구제역,한강농장,경기도 김포시 하성면 시암리,2018-04-01 (2018-04-03),돼지-일반,-,구제역진단과,NaN,2018-04-01,경기도 김포시
4,구제역,뒤울농장,경기도 김포시 대곶면 율생리,2018-03-26 (2018-03-27),돼지-비육돈,-,구제역진단과,NaN,2018-03-26,경기도 김포시
...,...,...,...,...,...,...,...,...,...,...
418,구제역,이상재,충청남도 홍성군 갈산면 오두리,2000-04-04 (2000-04-04),소-한우,-,병리진단과,NaN,2000-04-04,충청남도 홍성군
419,구제역,이종복,충청남도 보령시 주산면 신구리,2000-04-04 (2000-04-04),소-한우,-,병리진단과,NaN,2000-04-04,충청남도 보령시
420,구제역,이봉희,충청남도 홍성군 구항면 장양리,2000-04-01 (2000-04-01),소-육우,-,병리진단과,NaN,2000-04-01,충청남도 홍성군
421,구제역,최창국,충청남도 홍성군 구항면 공리,2000-04-01 (2000-04-01),소-육우,-,병리진단과,NaN,2000-04-01,충청남도 홍성군
422,구제역,김영규,경기도 파주시 파평면 금파리,2000-03-26 (2000-03-26),소-젖소,-,병리진단과,NaN,2000-03-26,경기도 파주시

In [43]:
df_gu['발생일시'].values

array(['2019-01-31', '2019-01-29', '2019-01-28', '2018-04-01',
       '2018-03-26', '2017-02-13', '2017-02-13', '2017-02-13',
       '2017-02-12', '2017-02-11', '2017-02-09', '2017-02-08',
       '2017-02-06', '2017-02-05', '2016-03-29', '2016-03-24',
       '2016-03-21', '2016-03-21', '2016-03-21', '2016-03-19',
       '2016-03-17', '2016-03-14', '2016-03-14', '2016-03-11',
       '2016-03-11', '2016-03-11', '2016-03-11', '2016-03-11',
       '2016-03-10', '2016-03-07', '2016-02-23', '2016-02-17',
       '2016-02-17', '2016-01-13', '2016-01-11', '2015-04-28',
       '2015-04-28', '2015-04-21', '2015-04-14', '2015-04-14',
       '2015-04-09', '2015-04-06', '2015-04-06', '2015-04-06',
       '2015-04-02', '2015-04-02', '2015-04-01', '2015-04-01',
       '2015-03-31', '2015-03-31', '2015-03-30', '2015-03-30',
       '2015-03-30', '2015-03-30', '2015-03-27', '2015-03-26',
       '2015-03-25', '2015-03-24', '2015-03-24', '2015-03-23',
       '2015-03-23', '2015-03-23', '2015-03-23', '2015-03-21',
       '2015-03-21', '2015-03-20', '2015-03-20', '2015-03-18',
       '2015-03-18', '2015-03-17', '2015-03-17', '2015-03-17',
       '2015-03-16', '2015-03-16', '2015-03-16', '2015-03-16',
       '2015-03-15', '2015-03-15', '2015-03-14', '2015-03-13',
       '2015-03-13', '2015-03-13', '2015-03-13', '2015-03-12',
       '2015-03-12', '2015-03-12', '2015-03-12', '2015-03-11',
       '2015-03-10', '2015-03-10', '2015-03-09', '2015-03-09',
       '2015-03-08', '2015-03-04', '2015-03-04', '2015-03-03',
       '2015-03-03', '2015-03-03', '2015-03-03', '2015-03-02',
       '2015-03-02', '2015-02-28', '2015-02-28', '2015-02-28',
       '2015-02-26', '2015-02-26', '2015-02-26', '2015-02-25',
       '2015-02-24', '2015-02-24', '2015-02-24', '2015-02-24',
       '2015-02-24', '2015-02-23', '2015-02-23', '2015-02-23',
       '2015-02-22', '2015-02-21', '2015-02-21', '2015-02-21',
       '2015-02-19', '2015-02-17', '2015-02-16', '2015-02-16',
       '2015-02-15', '2015-02-14', '2015-02-14', '2015-02-13',
       '2015-02-13', '2015-02-13', '2015-02-13', '2015-02-13',
       '2015-02-13', '2015-02-12', '2015-02-11', '2015-02-10',
       '2015-02-09', '2015-02-09', '2015-02-09', '2015-02-08',
       '2015-02-07', '2015-02-06', '2015-02-06', '2015-02-06',
       '2015-02-05', '2015-02-05', '2015-02-04', '2015-02-03',
       '2015-02-03', '2015-01-31', '2015-01-30', '2015-01-29',
       '2015-01-28', '2015-01-27', '2015-01-24', '2015-01-23',
       '2015-01-23', '2015-01-20', '2015-01-20', '2015-01-19',
       '2015-01-19', '2015-01-19', '2015-01-18', '2015-01-17',
       '2015-01-17', '2015-01-16', '2015-01-15', '2015-01-15',
       '2015-01-15', '2015-01-14', '2015-01-13', '2015-01-12',
       '2015-01-12', '2015-01-12', '2015-01-11', '2015-01-11',
       '2015-01-11', '2015-01-10', '2015-01-09', '2015-01-08',
       '2015-01-08', '2015-01-08', '2015-01-07', '2015-01-07',
       '2015-01-06', '2015-01-06', '2015-01-06', '2015-01-05',
       '2015-01-04', '2015-01-03', '2015-01-03', '2015-01-03',
       '2015-01-02', '2015-01-01', '2014-12-31', '2014-12-31',
       '2014-12-30', '2014-12-29', '2014-12-29', '2014-12-28',
       '2014-12-27', '2014-12-27', '2014-12-25', '2014-12-23',
       '2014-12-22', '2014-12-21', '2014-12-19', '2014-12-18',
       '2014-12-18', '2014-12-18', '2014-12-18', '2014-12-18',
       '2014-12-16', '2014-12-15', '2014-12-15', '2014-12-13',
       '2014-12-12', '2014-12-09', '2014-12-04', '2014-12-03',
       '2014-08-06', '2014-07-28', '2014-07-23', '2011-04-21',
       '2011-04-19', '2011-04-16', '2011-02-25', '2011-02-18',
       '2011-02-18', '2011-02-14', '2011-02-06', '2011-02-05',
       '2011-02-04', '2011-02-02', '2011-02-01', '2011-01-31',
       '2011-01-29', '2011-01-24', '2011-01-24', '2011-01-24',
       '2011-01-23', '2011-01-21', '2011-01-21', '2011-01-21',
       '2011-01-21', '2011-01-21', '2011-01-20', '2011-01-20',
       '2011-01-19', '2011-01-19', '2011-01-19', '2011-01-18',
       '2011-01-18', '2011-01-17', '2011-01-17', '2011-01-15',
       '2011-01-14', '2011-01-12', '2011-01-12', '2011-01-11',
       '2011-01-10', '2011-01-10', '2011-01-10', '2011-01-09',
       '2011-01-09', '2011-01-09', '2011-01-09', '2011-01-08',
       '2011-01-08', '2011-01-08', '2011-01-07', '2011-01-07',
       '2011-01-07', '2011-01-07', '2011-01-07', '2011-01-07',
       '2011-01-06', '2011-01-06', '2011-01-06', '2011-01-06',
       '2011-01-05', '2011-01-05', '2011-01-05', '2011-01-05',
       '2011-01-04', '2011-01-04', '2011-01-04', '2011-01-04',
       '2011-01-04', '2011-01-03', '2011-01-03', '2011-01-03',
       '2011-01-03', '2011-01-02', '2011-01-02', '2011-01-02',
       '2011-01-02', '2011-01-02', '2011-01-01', '2011-01-01',
       '2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
       '2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
       '2010-12-31', '2010-12-31', '2010-12-30', '2010-12-30',
       '2010-12-30', '2010-12-30', '2010-12-29', '2010-12-27',
       '2010-12-27', '2010-12-27', '2010-12-27', '2010-12-26',
       '2010-12-26', '2010-12-26', '2010-12-25', '2010-12-24',
       '2010-12-23', '2010-12-23', '2010-12-23', '2010-12-23',
       '2010-12-22', '2010-12-22', '2010-12-22', '2010-12-21',
       '2010-12-21', '2010-12-21', '2010-12-21', '2010-12-21',
       '2010-12-21', '2010-12-20', '2010-12-19', '2010-12-18',
       '2010-12-15', '2010-12-14', '2010-12-14', '2010-12-10',
       '2010-12-06', '2010-12-04', '2010-12-04', '2010-12-03',
       '2010-12-03', '2010-12-03', '2010-12-03', '2010-12-03',
       '2010-12-03', '2010-12-03', '2010-12-03', '2010-12-03',
       '2010-12-03', '2010-12-03', '2010-12-02', '2010-12-02',
       '2010-12-02', '2010-12-02', '2010-12-02', '2010-12-02',
       '2010-12-02', '2010-12-02', '2010-12-02', '2010-12-02',
       '2010-12-02', '2010-12-02', '2010-12-01', '2010-12-01',
       '2010-12-01', '2010-11-29', '2010-11-28', '2010-05-06',
       '2010-04-30', '2010-04-27', '2010-04-21', '2010-04-21',
       '2010-04-19', '2010-04-10', '2010-04-09', '2010-04-09',
       '2010-04-09', '2010-04-08', '2010-01-30', '2010-01-19',
       '2010-01-16', '2010-01-16', '2010-01-13', '2010-01-07',
       '2002-06-23', '2002-06-10', '2002-06-07', '2002-06-02',
       '2002-05-19', '2002-05-19', '2002-05-19', '2002-05-18',
       '2002-05-12', '2002-05-12', '2002-05-10', '2002-05-10',
       '2002-05-10', '2002-05-10', '2002-05-03', '2002-05-02',
       '2000-04-16', '2000-04-14', '2000-04-13', '2000-04-11',
       '2000-04-09', '2000-04-09', '2000-04-09', '2000-04-04',
       '2000-04-04', '2000-04-04', '2000-04-04', '2000-04-04',
       '2000-04-01', '2000-04-01', '2000-03-26'], dtype=object)

In [45]:
# 발생시 1 넣어줄 [1,1,1,...1] 
answer = np.repeat(1, len(df_gu))

# 데이터프레임만들기
target_lst = df_gu['발생일시']
df_target = pd.DataFrame({'시간':target_lst, '구제역발생여부':answer})
df_target

             시간  구제역발생여부
0    2019-01-31        1
1    2019-01-29        1
2    2019-01-28        1
3    2018-04-01        1
4    2018-03-26        1
..          ...      ...
418  2000-04-04        1
419  2000-04-04        1
420  2000-04-01        1
421  2000-04-01        1
422  2000-03-26        1

[423 rows x 2 columns]

# 데이터 + 타겟 합치기

In [51]:
# 합치기
df_model = pd.merge(df_c2, df_target, how='left' ,on='시간')

# 타겟값 1 나머지 0 
df_model['구제역발생여부'] = df_model['구제역발생여부'].apply(lambda x : x if x == 1 else 0)
df_model

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,자외선 B 일최고값,구제역발생여부
0,2005-01-01,-4.9,-8.8,-1.0,0.0,0.0,7.5,290.0,4.8,290.0,...,1.3,-7.8,36.7375,20.0,4.125,0.0,1028.7375,-15.5500,0.036,0.0
1,2005-01-02,0.4,-5.0,4.5,0.0,0.0,9.8,230.0,6.1,250.0,...,5.4,-1.8,45.7000,10.0,5.750,0.0,1018.0500,-9.5750,0.032,0.0
2,2005-01-03,2.9,-2.0,4.9,0.0,1.5,12.0,250.0,5.9,290.0,...,4.0,-4.9,37.5500,70.0,4.375,0.0,1029.3625,-14.1500,0.027,0.0
3,2005-01-04,-4.9,-7.4,-1.2,0.0,0.0,13.1,290.0,6.4,290.0,...,1.1,-7.3,36.2625,280.0,2.625,0.0,1035.5125,-17.3375,0.040,0.0
4,2005-01-05,-3.8,-8.8,0.6,0.0,0.0,6.0,70.0,3.2,70.0,...,0.7,-4.1,47.6375,10.0,3.125,0.0,1027.5750,-11.2125,0.044,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,2019-12-27,-1.7,-4.6,2.6,0.0,0.0,7.7,290.0,4.3,290.0,...,8.8,0.9,42.1000,350.0,3.500,0.0,1022.8000,-7.0750,0.046,0.0
6037,2019-12-28,1.1,-3.6,6.1,0.0,0.0,5.8,70.0,3.7,70.0,...,12.7,4.9,39.7250,350.0,4.250,0.0,1019.5500,-4.4500,0.042,0.0
6038,2019-12-29,3.8,1.1,6.2,0.0,1.4,6.6,110.0,4.4,70.0,...,11.9,4.9,62.4250,310.0,3.000,0.0,1021.8250,0.4000,0.017,0.0
6039,2019-12-30,2.7,-5.7,6.8,0.0,0.4,13.1,320.0,7.4,320.0,...,-0.6,-8.9,32.2250,50.0,3.000,0.0,1039.9000,-19.1500,0.035,0.0
6040,2019-12-31,-7.9,-10.9,-4.5,0.0,0.0,10.8,340.0,7.5,340.0,...,0.6,-10.0,32.3000,340.0,2.000,0.0,1037.7250,-18.9250,0.049,0.0