In [1]:
# !pip install -U finance-datareader

In [2]:
import FinanceDataReader as fdr
import pandas as pd
import numpy as np

In [3]:
import requests
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

In [4]:
stocklst = fdr.StockListing('KRX')  # stocklst = 한국 전체 주식

In [5]:
stocklst.head(3)

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시

In [6]:
company_lst = [
# 정유주
    'S-Oil',
    'GS',
    'SK이노베이션',
    '중앙에너비스',
    '흥구석유',
    
# 석유주(윤활유 비중 높은회사)
    '극동유화',
    '한국쉘석유',
    '미창석유',

# # 석유화학주
    '롯데케미칼',
    '이수화학',
    '한국석유',
    '코프라',
    'KPX케미칼',
    '애경케미칼'
]
print(len(company_lst))
company_lst

14

['S-Oil',
 'GS',
 'SK이노베이션',
 '중앙에너비스',
 '흥구석유',
 '극동유화',
 '한국쉘석유',
 '미창석유',
 '롯데케미칼',
 '이수화학',
 '한국석유',
 '코프라',
 'KPX케미칼',
 '애경케미칼']

In [7]:
codes = stocklst[stocklst.Name.apply(lambda stock: stock in company_lst)].Symbol.to_list()  #Symbol = 코드
len(codes) # codes 의 길이가 company lst 의 길이가 같아야 정상적으로 나온거임 
codes

['078930',
 '025000',
 '010950',
 '096770',
 '014530',
 '011170',
 '003650',
 '161000',
 '005950',
 '000440',
 '126600',
 '004090',
 '002960',
 '024060']

In [8]:
# 회사별 정보 모으기

driver = webdriver.Chrome()

for code in codes:
    df = fdr.DataReader(code,'2017-02-10', '2022-02-10')
    
    
    #기준시점 시가 총액
    price1 = df.loc['2017-02-10']['Close']
    
    url1 = 'https://navercomp.wisereport.co.kr/v2/company/c1010001.aspx?cmp_cd={}'.format(code)
    driver.get(url1)
    time.sleep(0.5)
    html1 = driver.page_source
    df1 = pd.read_html(html1)[1]
   
    # 발행 주식수
    outstanding = df1.iloc[6][1].split('/')[0]
    outstanding = outstanding.replace('주','') # 1,231,000주 -> 1,231,000
    outstanding = outstanding.replace(',', '') # 1,231,000 -> 1231000
    outstanding =  float(outstanding)
    print("발행 주식수: ",outstanding)
    
    # 유동비율 
    floating = df1.iloc[6][1].split('/')[1]
    floating = floating.replace('%', '')  # %기호 없애주기
    floating = float(floating)
    print("유동비율: ",floating)
    
     #액면가
    price_f = df1.iloc[2][1]
    price_f = price_f.replace('원', '') # 5,000원 -> 5,000
    price_f = price_f.replace(',', '') # 5,000 -> 5000
    price_f = int(price_f)
    print("액면가: ", price_f)

    # 기준시점 시가총액( 기준시점주가 * 발행주식수 * 유동비율)
    marketcap_1 = price1 * outstanding * floating

    print("시가총액: ",marketcap_1)

발행 주식수:  92915378.0
유동비율:  47.46
액면가:  5000
시가총액:  237245294585544.0
발행 주식수:  4840000.0
유동비율:  33.85
액면가:  5000
시가총액:  10468992600000.0
발행 주식수:  112582792.0
유동비율:  36.56
액면가:  2500
시가총액:  345746257543680.0
발행 주식수:  92465564.0
유동비율:  56.14
액면가:  5000
시가총액:  809798615021760.0
발행 주식수:  34869420.0
유동비율:  58.1
액면가:  500
시가총액:  6928623492840.0
발행 주식수:  34275419.0
유동비율:  45.08
액면가:  5000
시가총액:  628870306627640.0
발행 주식수:  1739672.0
유동비율:  46.73
액면가:  5000
시가총액:  7381574428447.999
발행 주식수:  48648709.0
유동비율:  32.71
액면가:  500
시가총액:  17822551839568.0
발행 주식수:  27959544.0
유동비율:  69.13
액면가:  5000
시가총액:  30297318362585.996
발행 주식수:  6227130.0
유동비율:  21.32
액면가:  500
시가총액:  848351810124.0
발행 주식수:  24738634.0
유동비율:  52.25
액면가:  500
시가총액:  8149802815082.5
발행 주식수:  12694120.0
유동비율:  46.88
액면가:  500
시가총액:  3327801132595.2
발행 주식수:  1300000.0
유동비율:  46.15
액면가:  5000
시가총액:  25467877500000.0
발행 주식수:  15000000.0
유동비율:  62.72
액면가:  100
시가총액:  2921184000000.0

In [9]:
# 모든 주가 데이터
# for code in codes:
#     df_stk = pd.concat([fdr.DataReader(code,'2017-02-10', '2022-02-10').assign(stock_code = code)])
# df_stk

# 하나의 기업 주가 데이터
code = '078930'
df = fdr.DataReader(code,'2017-02-10', '2022-02-10')
df

             Open   High    Low  Close  Volume    Change
Date
2017-02-10  51500  54000  51400  53800  400745  0.056974
2017-02-13  54000  54800  53800  54200  211255  0.007435
2017-02-14  54500  54900  53500  54900  222260  0.012915
2017-02-15  54900  55700  54800  55700  245667  0.014572
2017-02-16  55700  55700  54900  55000  118048 -0.012567
...           ...    ...    ...    ...     ...       ...
2022-02-04  39500  40150  39500  39950  147872  0.015248
2022-02-07  39950  40100  39400  39950  152386  0.000000
2022-02-08  40350  40550  40000  40350  157222  0.010013
2022-02-09  40500  40900  40300  40900  213298  0.013631
2022-02-10  40900  41350  40650  41000  283013  0.002445

[1228 rows x 6 columns]

In [10]:
# 지수 구하기
# 해야할것 
# 날짜별 비교시점 시가총액합/ 기준시점시가총액 합
# 정유주 별 지수
# 윤활유주 지수
# 석유화학주 지수
# 전체지수

In [11]:
#주가 딕셔너리에 넣기-> 유가,개별 주식간 비교에 사용

price_history = dict()

for code in codes:
    df = fdr.DataReader(code,'2017-02-10', '2022-02-10')
    price_history[code]= df['Close']   # 회사코드: [과거주가 리스트] 
 
    
df_history = pd.DataFrame(price_history)
df_history

,078930,025000,010950,096770,014530,011170,003650,161000,005950,000440,126600,004090,002960,024060
Date,,,,,,,,,,,,,,
2017-02-10,53800,63900,84000,156000,3420,407000,90800,11200,15675,6390,6305,5592,424500,3105
2017-02-13,54200,64800,85900,157500,3385,405000,91000,11500,16037,6330,6255,5540,427000,3095
2017-02-14,54900,64600,86300,155500,3465,398000,91000,11600,16083,6380,6130,5644,426500,3090
2017-02-15,55700,65300,87100,157000,3525,397500,90300,11350,15992,6280,6380,5773,423500,3130
2017-02-16,55000,65300,87000,158000,3475,391000,90200,11900,15947,6400,6480,5851,420500,3130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-04,39950,51400,92500,228000,4045,200000,74100,9950,13050,20300,8760,17750,249500,8050
2022-02-07,39950,51700,90900,226500,4120,203500,74600,9820,12900,22150,8540,18350,247500,8150
2022-02-08,40350,51900,89000,213500,4030,210000,74900,9730,12700,22150,8380,17800,245000,7910
2022-02-09,40900,52200,88000,215500,3970,218500,76000,10300,13450,20300,8650,16400,247000,7510
2022-02-10,41000,52200,88500,209500,3925,218500,75700,10250,13350,19900,8450,15900,248000,7440

In [ ]:
# Oil 지수 구하기 

driver = webdriver.Chrome()

marketcap = dict()

for code in codes:
    print(code)
    df = fdr.DataReader(code,'2017-02-10', '2022-02-10')
    
    
    #기준시점 시가 총액
    price1 = df.loc['2017-02-10']['Close']
    
    url1 = 'https://navercomp.wisereport.co.kr/v2/company/c1010001.aspx?cmp_cd={}'.format(code)
    driver.get(url1)
    time.sleep(0.5)
    html1 = driver.page_source
    df1 = pd.read_html(html1)[1]
   
    # 발행 주식수
    outstanding = df1.iloc[6][1].split('/')[0]
    outstanding = outstanding.replace('주','') # 1,231,000주 -> 1,231,000
    outstanding = outstanding.replace(',', '') # 1,231,000 -> 1231000
    outstanding =  float(outstanding)
    print("발행 주식수: ",outstanding)
    
    # 유동비율 
    floating = df1.iloc[6][1].split('/')[1]
    floating = floating.replace('%', '')  # %기호 없애주기
    floating = float(floating)
    print("유동비율: ",floating)
    
     #액면가
    price_f = df1.iloc[2][1]
    price_f = price_f.replace('원', '') # 5,000원 -> 5,000
    price_f = price_f.replace(',', '') # 5,000 -> 5000
    price_f = int(price_f)
    print("액면가: ", price_f)
    print('-'* 50)
    
    ## 지수 구하기
    
    # 기업들의 주가 데이터프레임: df_p
    df_p = fdr.DataReader(code,'2017-02-10', '2022-02-10')
    
    #비교시점의 시가총액(비교시점주가 * 발행주식수 * 유동비율)
    
    if price_f == 5000:     #액면금액이 5000원
        pass
    elif price_f == 2500:   #액면금액이 2500원
        df_p['Close'] = df_p['Close']/2
        
    elif price_f == 500:    #액면금액이 500원
        df_p['Close'] = df_p['Close']/10
        
    elif price_f == 100:    #액면금액이 100원
        df_p['Close'] = df_p['Close']/50
        
   
    marketcap[code] = df_p['Close'] * outstanding * floating   # 딕셔너리에 추가
   
 
df_marketcap = pd.DataFrame(marketcap)
df_marketcap['total'] = df_marketcap.sum(axis=1)

# 기준시점(2017년 2월 10일) 시가총액( 기준시점주가 * 발행주식수 * 유동비율)

marketcap_std = df_marketcap['total'].iloc[0]

# 지수 = (각기업시가총액합 / 2017년 2월10일의 각 기업시가총액합) * 100
df_marketcap['전체석유주지수'] = (df_marketcap['total']/ marketcap_std) * 100

df_marketcap

## 시각화

In [ ]:
!pip install plotly

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [ ]:
# x축 index값 못 읽음
# px.line(df_marketcap, x='Date', y='지수')

In [ ]:
# x축 index값 못 읽음: reset_index 사용
df1_marketcap = df_marketcap.reset_index()
px.line(df1_marketcap, x='Date', y='전체석유주지수')

In [ ]:
# 현물유가데이터 가져오기
df_cdop = pd.read_csv('./data/두바이유현물가격_18년4월빠짐.csv', usecols=['date','Dubai'])
df_cdop.head()

In [ ]:
#날짜형식
df_cdop['date'] = pd.to_datetime(df_cdop['date'])
df_cdop.info()

In [ ]:
# 그래프 합치기 위해 열이름 변경
df_cdop = df_cdop.rename(columns={'date':'Date'})
df_cdop.head(2)

In [ ]:
df_cdop = df_cdop.rename(columns={'Dubai':'두바이유 현물종가'})
df_cdop.head(3)

In [ ]:
# 선물유가데이터 가져오기

df_op = pd.read_csv('./data/daum_oil.csv')
df_op.head(3)

In [ ]:
# 유가, 정유주 지수 그래프 비교-> 그래프 합쳐야함
# 열 이름 date-> Date 로 맞춰주기

df_op = df_op.rename(columns={'date':'Date'})
df_op.head(2)

In [ ]:
df_op.info() # 날짜 object타입

In [ ]:
df_op['Date'] = pd.to_datetime(df_op['Date'])
df_op.info()

In [ ]:
# 유가 중 두바이유만 추출

df_dop= df_op[df_op['company']=='두바이유선물']
df_dop.head(3)

In [ ]:
# 종가-> 두바이유 선물종가

df_dop = df_dop.rename(columns={'종가':'두바이유 선물종가'})
df_dop.head(3)

In [ ]:
df1_marketcap.info()

In [ ]:
## 데이터프레임 합치기

In [ ]:
# 선물종가 전체석유주지수 합치기
df_merge = pd.merge(df1_marketcap, df_dop)
df_merge.head()

In [ ]:
df1_merge = pd.merge(df_merge,df_cdop)
df1_merge.head(3)

In [ ]:
df_plot = df1_merge[['Date','전체석유주지수', '두바이유 선물종가', '두바이유 현물종가']]

In [ ]:
df_plot['두바이유 현물종가'] = df_plot['두바이유 현물종가'].str.replace('f','')

In [ ]:
df_plot['두바이유 현물종가'] = df_plot['두바이유 현물종가'].astype('float')
df_plot.info()

In [ ]:
## 두바이선물유가, 두바이현물유가, 전체석유주지수 그래프 비교

px.line(df_plot, x='Date', y=['전체석유주지수', '두바이유 선물종가', '두바이유 현물종가'])

In [ ]:
# 상관관계
corr = df_plot.corr()
print(corr)

In [ ]:
# 일주일 단위로 바꾸기

In [ ]:
df_plot.head(3)

In [ ]:
# df_wplot = df_plot.set_index('Date').loc['2017-2-10':'2022-02-10'].resample('W-MON',label = 'left', closed='right')['전체석유주지수'].last()

# df_wplot = df_wplot.reset_index().rename(columns={'Date':'날짜','전체석유주지수': '주간 전체석유주지수'})
# df_wplot.head(3)

In [ ]:
df_wplot = df_plot.set_index('Date').loc['2017-2-10':'2022-02-10'].\
resample('W-MON',label = 'left', closed='right')[['전체석유주지수','두바이유 선물종가','두바이유 현물종가']].last()

df_wplot = df_wplot.reset_index().rename(columns={'Date':'날짜','전체석유주지수': '주간 전체석유주지수'})
df_wplot.head(3)

In [ ]:
# 주간 상관관계 : 일일데이터 상관계수보다 조금 낮다

corr_w = df_wplot.corr()
print(corr_w)