In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
price_df = pd.read_csv('./data/수정주가.csv', encoding='euckr')
price_df.head()

,코드명,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,...,A900340,A950010,A950030,A950070,A950100,A950110,A950130,A950140,A950160,A950170
0,종목명,조흥은행,동화약품,우리은행,KR모터스,경방,메리츠화재,삼양홀딩스,하이트진로,두산상사,...,윙입푸드,평산차업,네프로아이티,중국고섬,SBI모기지,SBI핀테크솔루션즈,엑세스바이오,잉글우드랩,코오롱티슈진(Reg.S),JTC
1,20060131,NaN,3430,NaN,2317,12164,5788,57432,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20060228,NaN,3440,NaN,2279,9693,5015,55082,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20060331,NaN,3080,NaN,2039,10187,4775,58556,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20060428,NaN,5040,NaN,1918,10985,6060,62133,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 재무데이터

In [5]:
raw_df = pd.read_excel('./data/재무데이터 수정.xlsx')

In [6]:
raw_df.head()

,Symbol,Symbol Name,ROA,ROA.1,ROA.2,ROA.3,ROA.4,ROA.5,ROA.6,ROA.7,...,DPS.29,DPS.30,DPS.31,DPS.32,DPS.33,DPS.34,DPS.35,DPS.36,DPS.37,DPS.38
0,NaN,NaN,08/4Q,09/1Q,09/2Q,09/3Q,09/4Q,10/1Q,10/2Q,10/3Q,...,16/1Q,16/2Q,16/3Q,16/4Q,17/1Q,17/2Q,17/3Q,17/4Q,18/1Q,18/2Q
1,A005930,삼성전자,7.62,5.24,3.78,5.46,6.93,8.74,10.53,11.46,...,570,570,570,570,850,850,850,850,850,850
2,A000660,SK하이닉스,0,0,0,0,0,12.57,18.73,25.35,...,600,600,600,600,1000,1000,1000,1000,1000,1000
3,A068270,셀트리온,2.92,4.89,8.63,7.3,10.48,11.75,14.02,17.22,...,46.73,46.73,46.73,46.73,19.61,19.61,19.61,19.61,19.61,19.61
4,A207940,삼성바이오로직스,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
raw_df.T

,0,1,2,3,4,5,6,7,8,9,...,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053
Symbol,NaN,A005930,A000660,A068270,A207940,A005380,A005490,A051910,A035420,A028260,...,A303030,A267320,A271740,A257730,A232330,A297570,A279410,A258790,A264290,A010400
Symbol Name,NaN,삼성전자,SK하이닉스,셀트리온,삼성바이오로직스,현대차,POSCO,LG화학,NAVER,삼성물산,...,대신밸런스제5호스팩,교보7호스팩,한국제5호스팩,신한제3호스팩,SK3호스팩,IBKS제9호스팩,한화에이스스팩4호,케이비제11호스팩,한화에이스스팩3호,우진아이엔에스
ROA,08/4Q,7.62,0,2.92,0,4.5,12.01,12.47,36.21,0.44,...,0,0,0,0,0,0,0,0,0,0
ROA.1,09/1Q,5.24,0,4.89,0,3.94,10.04,12.54,34.97,0,...,0,0,0,0,0,0,0,0,0,0
ROA.2,09/2Q,3.78,0,8.63,0,4.67,7.16,12.97,34.45,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DPS.34,17/2Q,850,1000,19.61,0,4000,8000,6000,289.2,2000,...,0,0,0,0,0,0,0,0,0,0
DPS.35,17/3Q,850,1000,19.61,0,4000,8000,6000,289.2,2000,...,0,0,0,0,0,0,0,0,0,0
DPS.36,17/4Q,850,1000,19.61,0,4000,8000,6000,289.2,2000,...,0,0,0,0,0,0,0,0,0,0
DPS.37,18/1Q,850,1000,19.61,0,4000,8000,6000,289.2,2000,...,0,0,0,0,0,0,0,0,0,0
DPS.38,18/2Q,850,1000,19.61,0,4000,8000,6000,289.2,2000,...,0,0,0,0,0,0,0,0,0,0

In [9]:
big_col = list(raw_df.columns)
big_col

['Symbol',
 'Symbol Name',
 'ROA',
 'ROA.1',
 'ROA.2',
 'ROA.3',
 'ROA.4',
 'ROA.5',
 'ROA.6',
 'ROA.7',
 'ROA.8',
 'ROA.9',
 'ROA.10',
 'ROA.11',
 'ROA.12',
 'ROA.13',
 'ROA.14',
 'ROA.15',
 'ROA.16',
 'ROA.17',
 'ROA.18',
 'ROA.19',
 'ROA.20',
 'ROA.21',
 'ROA.22',
 'ROA.23',
 'ROA.24',
 'ROA.25',
 'ROA.26',
 'ROA.27',
 'ROA.28',
 'ROA.29',
 'ROA.30',
 'ROA.31',
 'ROA.32',
 'ROA.33',
 'ROA.34',
 'ROA.35',
 'ROA.36',
 'ROA.37',
 'ROA.38',
 '부채비율',
 '부채비율.1',
 '부채비율.2',
 '부채비율.3',
 '부채비율.4',
 '부채비율.5',
 '부채비율.6',
 '부채비율.7',
 '부채비율.8',
 '부채비율.9',
 '부채비율.10',
 '부채비율.11',
 '부채비율.12',
 '부채비율.13',
 '부채비율.14',
 '부채비율.15',
 '부채비율.16',
 '부채비율.17',
 '부채비율.18',
 '부채비율.19',
 '부채비율.20',
 '부채비율.21',
 '부채비율.22',
 '부채비율.23',
 '부채비율.24',
 '부채비율.25',
 '부채비율.26',
 '부채비율.27',
 '부채비율.28',
 '부채비율.29',
 '부채비율.30',
 '부채비율.31',
 '부채비율.32',
 '부채비율.33',
 '부채비율.34',
 '부채비율.35',
 '부채비율.36',
 '부채비율.37',
 '부채비율.38',
 'PER',
 'PER.1',
 'PER.2',
 'PER.3',
 'PER.4',
 'PER.5',
 'PER.6',
 'PER.7',
 'PER.8',
 'PER.9',
 'PER.10',
 'PER.11',
 'PER.12',
 'PER.13',
 'PER.14',
 'PER.15',
 'PER.16',
 'PER.17',
 'PER.18',
 'PER.19',
 'PER.20',
 'PER.21',
 'PER.22',
 'PER.23',
 'PER.24',
 'PER.25',
 'PER.26',
 'PER.27',
 'PER.28',
 'PER.29',
 'PER.30',
 'PER.31',
 'PER.32',
 'PER.33',
 'PER.34',
 'PER.35',
 'PER.36',
 'PER.37',
 'PER.38',
 'PER.39',
 'PBR',
 'PBR.1',
 'PBR.2',
 'PBR.3',
 'PBR.4',
 'PBR.5',
 'PBR.6',
 'PBR.7',
 'PBR.8',
 'PBR.9',
 'PBR.10',
 'PBR.11',
 'PBR.12',
 'PBR.13',
 'PBR.14',
 'PBR.15',
 'PBR.16',
 'PBR.17',
 'PBR.18',
 'PBR.19',
 'PBR.20',
 'PBR.21',
 'PBR.22',
 'PBR.23',
 'PBR.24',
 'PBR.25',
 'PBR.26',
 'PBR.27',
 'PBR.28',
 'PBR.29',
 'PBR.30',
 'PBR.31',
 'PBR.32',
 'PBR.33',
 'PBR.34',
 'PBR.35',
 'PBR.36',
 'PBR.37',
 'PBR.38',
 'PBR.39',
 'PSR',
 'PSR.1',
 'PSR.2',
 'PSR.3',
 'PSR.4',
 'PSR.5',
 'PSR.6',
 'PSR.7',
 'PSR.8',
 'PSR.9',
 'PSR.10',
 'PSR.11',
 'PSR.12',
 'PSR.13',
 'PSR.14',
 'PSR.15',
 'PSR.16',
 'PSR.17',
 'PSR.18',
 'PSR.19',
 'PSR.20',
 'PSR.21',
 'PSR.22',
 'PSR.23',
 'PSR.24',
 'PSR.25',
 'PSR.26',
 'PSR.27',
 'PSR.28',
 'PSR.29',
 'PSR.30',
 'PSR.31',
 'PSR.32',
 'PSR.33',
 'PSR.34',
 'PSR.35',
 'PSR.36',
 'PSR.37',
 'PSR.38',
 'EV',
 'EV.1',
 'EV.2',
 'EV.3',
 'EV.4',
 'EV.5',
 'EV.6',
 'EV.7',
 'EV.8',
 'EV.9',
 'EV.10',
 'EV.11',
 'EV.12',
 'EV.13',
 'EV.14',
 'EV.15',
 'EV.16',
 'EV.17',
 'EV.18',
 'EV.19',
 'EV.20',
 'EV.21',
 'EV.22',
 'EV.23',
 'EV.24',
 'EV.25',
 'EV.26',
 'EV.27',
 'EV.28',
 'EV.29',
 'EV.30',
 'EV.31',
 'EV.32',
 'EV.33',
 'EV.34',
 'EV.35',
 'EV.36',
 'EV.37',
 'EV.38',
 'EBITDA',
 'EBITDA.1',
 'EBITDA.2',
 'EBITDA.3',
 'EBITDA.4',
 'EBITDA.5',
 'EBITDA.6',
 'EBITDA.7',
 'EBITDA.8',
 'EBITDA.9',
 'EBITDA.10',
 'EBITDA.11',
 'EBITDA.12',
 'EBITDA.13',
 'EBITDA.14',
 'EBITDA.15',
 'EBITDA.16',
 'EBITDA.17',
 'EBITDA.18',
 'EBITDA.19',
 'EBITDA.20',
 'EBITDA.21',
 'EBITDA.22',
 'EBITDA.23',
 'EBITDA.24',
 'EBITDA.25',
 'EBITDA.26',
 'EBITDA.27',
 'EBITDA.28',
 'EBITDA.29',
 'EBITDA.30',
 'EBITDA.31',
 'EBITDA.32',
 'EBITDA.33',
 'EBITDA.34',
 'EBITDA.35',
 'EBITDA.36',
 'EBITDA.37',
 'EBITDA.38',
 'EV/EBITDA',
 'EV/EBITDA.1',
 'EV/EBITDA.2',
 'EV/EBITDA.3',
 'EV/EBITDA.4',
 'EV/EBITDA.5',
 'EV/EBITDA.6',
 'EV/EBITDA.7',
 'EV/EBITDA.8',
 'EV/EBITDA.9',
 'EV/EBITDA.10',
 'EV/EBITDA.11',
 'EV/EBITDA.12',
 'EV/EBITDA.13',
 'EV/EBITDA.14',
 'EV/EBITDA.15',
 'EV/EBITDA.16',
 'EV/EBITDA.17',
 'EV/EBITDA.18',
 'EV/EBITDA.19',
 'EV/EBITDA.20',
 'EV/EBITDA.21',
 'EV/EBITDA.22',
 'EV/EBITDA.23',
 'EV/EBITDA.24',
 'EV/EBITDA.25',
 'EV/EBITDA.26',
 'EV/EBITDA.27',
 'EV/EBITDA.28',
 'EV/EBITDA.29',
 'EV/EBITDA.30',
 'EV/EBITDA.31',
 'EV/EBITDA.32',
 'EV/EBITDA.33',
 'EV/EBITDA.34',
 'EV/EBITDA.35',
 'EV/EBITDA.36',
 'EV/EBITDA.37',
 'EV/EBITDA.38',
 '유동자산',
 '유동자산.1',
 '유동자산.2',
 '유동자산.3',
 '유동자산.4',
 '유동자산.5',
 '유동자산.6',
 '유동자산.7',
 '유동자산.8',
 '내돈',
 '내돈.1',
 '내돈.2',
 '내돈.3',
 '내돈.4',
 '내돈.5',
 '내돈.6',
 '내돈.7',
 '내돈.8',
 '내돈.9',
 '내돈.10',
 '내돈.11',
 '내돈.12',
 '내돈.13',
 '내돈.14',
 '내돈.15',
 '내돈.16',
 '내돈.17',
 '내돈.18',
 '내돈.19',
 '내돈.20',
 '내돈.21',
 '내돈.22',
 '내돈.23',
 '내돈.24',
 '내돈.25',
 '내돈.26',
 '내돈.27',
 '내돈.28',
 '내돈.29',
 '내돈.30',
 '내돈.31',
 '내돈.32',
 '내돈.33',
 '내돈.34',
 '내돈.35',
 '내돈.36',
 '내돈.37',
 '내돈.38',
 '내돈.39',
 '시총',
 '시총.1',
 '시총.2',
 '시총.3',
 '시총.4',
 '시총.5',
 '시총.6',
 '시총.7',
 '시총.8',
 '시총.9',
 '시총.10',
 '시총.11',
 '시총.12',
 '시총.13',
 '시총.14',
 '시총.15',
 '시총.16',
 '시총.17',
 '시총.18',
 '시총.19',
 '시총.20',
 '시총.21',
 '시총.22',
 '시총.23',
 '시총.24',
 '시총.25',
 '시총.26',
 '시총.27',
 '시총.28',
 '시총.29',
 '시총.30',
 '시총.31',
 '시총.32',
 '시총.33',
 '시총.34',
 '시총.35',
 '시총.36',
 '시총.37',
 '시총.38',
 '시총.39',
 '영익',
 '영익.1',
 '영익.2',
 '영익.3',
 '영익.4',
 '영익.5',
 '영익.6',
 '영익.7',
 '영익.8',
 '영익.9',
 '영익.10',
 '영익.11',
 '영익.12',
 '영익.13',
 '영익.14',
 '영익.15',
 '영익.16',
 '영익.17',
 '영익.18',
 '영익.19',
 '영익.20',
 '영익.21',
 '영익.22',
 '영익.23',
 '영익.24',
 '영익.25',
 '영익.26',
 '영익.27',
 '영익.28',
 '영익.29',
 '영익.30',
 '영익.31',
 '영익.32',
 '영익.33',
 '영익.34',
 '영익.35',
 '영익.36',
 '영익.37',
 '영익.38',
 '영익.39',
 '순익',
 '순익.1',
 '순익.2',
 '순익.3',
 '순익.4',
 '순익.5',
 '순익.6',
 '순익.7',
 '순익.8',
 '순익.9',
 '순익.10',
 '순익.11',
 '순익.12',
 '순익.13',
 '순익.14',
 '순익.15',
 '순익.16',
 '순익.17',
 '순익.18',
 '순익.19',
 '순익.20',
 '순익.21',
 '순익.22',
 '순익.23',
 '순익.24',
 '순익.25',
 '순익.26',
 '순익.27',
 '순익.28',
 '순익.29',
 '순익.30',
 '순익.31',
 '순익.32',
 '순익.33',
 '순익.34',
 '순익.35',
 '순익.36',
 '순익.37',
 '순익.38',
 '순익.39',
 '영업활동현흐',
 '영업활동현흐.1',
 '영업활동현흐.2',
 '영업활동현흐.3',
 '영업활동현흐.4',
 '영업활동현흐.5',
 '영업활동현흐.6',
 '영업활동현흐.7',
 '영업활동현흐.8',
 '영업활동현흐.9',
 '영업활동현흐.10',
 '영업활동현흐.11',
 '영업활동현흐.12',
 '영업활동현흐.13',
 '영업활동현흐.14',
 '영업활동현흐.15',
 '영업활동현흐.16',
 '영업활동현흐.17',
 '영업활동현흐.18',
 '영업활동현흐.19',
 '영업활동현흐.20',
 '영업활동현흐.21',
 '영업활동현흐.22',
 '영업활동현흐.23',
 '영업활동현흐.24',
 '영업활동현흐.25',
 '영업활동현흐.26',
 '영업활동현흐.27',
 '영업활동현흐.28',
 '영업활동현흐.29',
 '영업활동현흐.30',
 '영업활동현흐.31',
 '영업활동현흐.32',
 '영업활동현흐.33',
 '영업활동현흐.34',
 '영업활동현흐.35',
 '영업활동현흐.36',
 '영업활동현흐.37',
 '영업활동현흐.38',
 '매출총이익율',
 '매출총이익율.1',
 '매출총이익율.2',
 '매출총이익율.3',
 '매출총이익율.4',
 '매출총이익율.5',
 '매출총이익율.6',
 '매출총이익율.7',
 '매출총이익율.8',
 '매출총이익율.9',
 '매출총이익율.10',
 '매출총이익율.11',
 '매출총이익율.12',
 '매출총이익율.13',
 '매출총이익율.14',
 '매출총이익율.15',
 '매출총이익율.16',
 '매출총이익율.17',
 '매출총이익율.18',
 '매출총이익율.19',
 '매출총이익율.20',
 '매출총이익율.21',
 '매출총이익율.22',
 '매출총이익율.23',
 '매출총이익율.24',
 '매출총이익율.25',
 '매출총이익율.26',
 '매출총이익율.27',
 '매출총이익율.28',
 '매출총이익율.29',
 '매출총이익율.30',
 '매출총이익율.31',
 '매출총이익율.32',
 '매출총이익율.33',
 '매출총이익율.34',
 '매출총이익율.35',
 '매출총이익율.36',
 '매출총이익율.37',
 '매출총이익율.38',
 '매출',
 '매출.1',
 '매출.2',
 '매출.3',
 '매출.4',
 '매출.5',
 '매출.6',
 '매출.7',
 '매출.8',
 '매출.9',
 '매출.10',
 '매출.11',
 '매출.12',
 '매출.13',
 '매출.14',
 '매출.15',
 '매출.16',
 '매출.17',
 '매출.18',
 '매출.19',
 '매출.20',
 '매출.21',
 '매출.22',
 '매출.23',
 '매출.24',
 '매출.25',
 '매출.26',
 '매출.27',
 '매출.28',
 '매출.29',
 '매출.30',
 '매출.31',
 '매출.32',
 '매출.33',
 '매출.34',
 '매출.35',
 '매출.36',
 '매출.37',
 '매출.38',
 '매출.39',
 '총자산',
 '총자산.1',
 '총자산.2',
 '총자산.3',
 '총자산.4',
 '총자산.5',
 '총자산.6',
 '총자산.7',
 '총자산.8',
 'DPS',
 'DPS.1',
 'DPS.2',
 'DPS.3',
 'DPS.4',
 'DPS.5',
 'DPS.6',
 'DPS.7',
 'DPS.8',
 'DPS.9',
 'DPS.10',
 'DPS.11',
 'DPS.12',
 'DPS.13',
 'DPS.14',
 'DPS.15',
 'DPS.16',
 'DPS.17',
 'DPS.18',
 'DPS.19',
 'DPS.20',
 'DPS.21',
 'DPS.22',
 'DPS.23',
 'DPS.24',
 'DPS.25',
 'DPS.26',
 'DPS.27',
 'DPS.28',
 'DPS.29',
 'DPS.30',
 'DPS.31',
 'DPS.32',
 'DPS.33',
 'DPS.34',
 'DPS.35',
 'DPS.36',
 'DPS.37',
 'DPS.38']

In [10]:
# 번호제거
new_big_col = []
for i in big_col:
    new_big_col.append(i.split('.')[0])
    
new_big_col

['Symbol',
 'Symbol Name',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 'ROA',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 '부채비율',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PER',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PBR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'PSR',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EV',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 'EV/EBITDA',
 '유동자산',
 '유동자산',
 '유동자산',
 '유동자산',
 '유동자산',
 '유동자산',
 '유동자산',
 '유동자산',
 '유동자산',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '내돈',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '시총',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '영익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '순익',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '영업활동현흐',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출총이익율',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '매출',
 '총자산',
 '총자산',
 '총자산',
 '총자산',
 '총자산',
 '총자산',
 '총자산',
 '총자산',
 '총자산',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS',
 'DPS']

In [12]:
small_col = list(raw_df.loc[0])
small_col

[nan,
 nan,
 '08/4Q',
 '09/1Q',
 '09/2Q',
 '09/3Q',
 '09/4Q',
 '10/1Q',
 '10/2Q',
 '10/3Q',
 '10/4Q',
 '11/1Q',
 '11/2Q',
 '11/3Q',
 '11/4Q',
 '12/1Q',
 '12/2Q',
 '12/3Q',
 '12/4Q',
 '13/1Q',
 '13/2Q',
 '13/3Q',
 '13/4Q',
 '14/1Q',
 '14/2Q',
 '14/3Q',
 '14/4Q',
 '15/1Q',
 '15/2Q',
 '15/3Q',
 '15/4Q',
 '16/1Q',
 '16/2Q',
 '16/3Q',
 '16/4Q',
 '17/1Q',
 '17/2Q',
 '17/3Q',
 '17/4Q',
 '18/1Q',
 '18/2Q',
 '08/4Q',
 '09/1Q',
 '09/2Q',
 '09/3Q',
 '09/4Q',
 '10/1Q',
 '10/2Q',
 '10/3Q',
 '10/4Q',
 '11/1Q',
 '11/2Q',
 '11/3Q',
 '11/4Q',
 '12/1Q',
 '12/2Q',
 '12/3Q',
 '12/4Q',
 '13/1Q',
 '13/2Q',
 '13/3Q',
 '13/4Q',
 '14/1Q',
 '14/2Q',
 '14/3Q',
 '14/4Q',
 '15/1Q',
 '15/2Q',
 '15/3Q',
 '15/4Q',
 '16/1Q',
 '16/2Q',
 '16/3Q',
 '16/4Q',
 '17/1Q',
 '17/2Q',
 '17/3Q',
 '17/4Q',
 '18/1Q',
 '18/2Q',
 '08/4Q',
 '09/1Q',
 '09/2Q',
 '09/3Q',
 '09/4Q',
 '10/1Q',
 '10/2Q',
 '10/3Q',
 '10/4Q',
 '11/1Q',
 '11/2Q',
 '11/3Q',
 '11/4Q',
 '12/1Q',
 '12/2Q',
 '12/3Q',
 '12/4Q',
 '13/1Q',
 '13/2Q',
 '13/3Q',
 '13/4Q',
 '14/1Q',
 '14/2Q',
 '14/3Q',
 '14/4Q',
 '15/1Q',
 '15/2Q',
 '15/3Q',
 '15/4Q',
 '16/1Q',
 '16/2Q',
 '16/3Q',
 '16/4Q',
 '17/1Q',
 '17/2Q',
 '17/3Q',
 '17/4Q',
 '18/1Q',
 '18/2Q',
 '18/3Q',
 '08/4Q',
 '09/1Q',
 '09/2Q',
 '09/3Q',
 '09/4Q',
 '10/1Q',
 '10/2Q',
 '10/3Q',
 '10/4Q',
 '11/1Q',
 '11/2Q',
 '11/3Q',
 '11/4Q',
 '12/1Q',
 '12/2Q',
 '12/3Q',
 '12/4Q',
 '13/1Q',
 '13/2Q',
 '13/3Q',
 '13/4Q',
 '14/1Q',
 '14/2Q',
 '14/3Q',
 '14/4Q',
 '15/1Q',
 '15/2Q',
 '15/3Q',
 '15/4Q',
 '16/1Q',
 '16/2Q',
 '16/3Q',
 '16/4Q',
 '17/1Q',
 '17/2Q',
 '17/3Q',
 '17/4Q',
 '18/1Q',
 '18/2Q',
 '18/3Q',
 '08/4Q',
 '09/1Q',
 '09/2Q',
 '09/3Q',
 '09/4Q',
 '10/1Q',
 '10/2Q',
 '10/3Q',
 '10/4Q',
 '11/1Q',
 '11/2Q',
 '11/3Q',
 '11/4Q',
 '12/1Q',
 '12/2Q',
 '12/3Q',
 '12/4Q',
 '13/1Q',
 '13/2Q',
 '13/3Q',
 '13/4Q',
 '14/1Q',
 '14/2Q',
 '14/3Q',
 '14/4Q',
 '15/1Q',
 '15/2Q',
 '15/3Q',
 '15/4Q',
 '16/1Q',
 '16/2Q',
 '16/3Q',
 '16/4Q',
 '17/1Q',
 '17/2Q',
 '17/3Q',
 '17/4Q',
 '18/1Q',
 '18/2Q',
 '08/4Q',
 '09/1Q',
 '09/2Q',
 '09/3Q',
 '09/4Q',
 '10/1Q',
 '10/2Q',
 '10/3Q',
 '10/4Q',
 '11/1Q',
 '11/2Q',
 '11/3Q',
 '11/4Q',
 '12/1Q',
 '12/2Q',
 '12/3Q',
 '12/4Q',
 '13/1Q',
 '13/2Q',
 '13/3Q',
 '13/4Q',
 '14/1Q',
 '14/2Q',
 '14/3Q',
 '14/4Q',
 '15/1Q',
 '15/2Q',
 '15/3Q',
 '15/4Q',
 '16/1Q',
 '16/2Q',
 '16/3Q',
 '16/4Q',
 '17/1Q',
 '17/2Q',
 '17/3Q',
 '17/4Q',
 '18/1Q',
 '18/2Q',
 '08/4Q',
 '09/1Q',
 '09/2Q',
 '09/3Q',
 '09/4Q',
 '10/1Q',
 '10/2Q',
 '10/3Q',
 '10/4Q',
 '11/1Q',
 '11/2Q',
 '11/3Q',
 '11/4Q',
 '12/1Q',
 '12/2Q',
 '12/3Q',
 '12/4Q',
 '13/1Q',
 '13/2Q',
 '13/3Q',
 '13/4Q',
 '14/1Q',
 '14/2Q',
 '14/3Q',
 '14/4Q',
 '15/1Q',
 '15/2Q',
 '15/3Q',
 '15/4Q',
 '16/1Q',
 '16/2Q',
 '16/3Q',
 '16/4Q',
 '17/1Q',
 '17/2Q',
 '17/3Q',
 '17/4Q',
 '18/1Q',
 '18/2Q',
 '08/4Q',
 '09/1Q',
 '09/2Q',
 '09/3Q',
 '09/4Q',
 '10/1Q',
 '10/2Q',
 '10/3Q',
 '10/4Q',
 '11/1Q',
 '11/2Q',
 '11/3Q',
 '11/4Q',
 '12/1Q',
 '12/2Q',
 '12/3Q',
 '12/4Q',
 '13/1Q',
 '13/2Q',
 '13/3Q',
 '13/4Q',
 '14/1Q',
 '14/2Q',
 '14/3Q',
 '14/4Q',
 '15/1Q',
 '15/2Q',
 '15/3Q',
 '15/4Q',
 '16/1Q',
 '16/2Q',
 '16/3Q',
 '16/4Q',
 '17/1Q',
 '17/2Q',
 '17/3Q',
 '17/4Q',
 '18/1Q',
 '18/2Q',
 '9년',
 '10년',
 '11년',
 '12년',
 '13년',
 '14년',
 '15년',
 '16년',
 '17년',
 '08/4Q',
 '09/1Q',
 '09/2Q',
 '09/3Q',
 '09/4Q',
 '10/1Q',
 '10/2Q',
 '10/3Q',
 '10/4Q',
 '11/1Q',
 '11/2Q',
 '11/3Q',
 '11/4Q',
 '12/1Q',
 '12/2Q',
 '12/3Q',
 '12/4Q',
 '13/1Q',
 '13/2Q',
 '13/3Q',
 '13/4Q',
 '14/1Q',
 '14/2Q',
 '14/3Q',
 '14/4Q',
 '15/1Q',
 '15/2Q',
 '15/3Q',
 '15/4Q',
 '16/1Q',
 '16/2Q',
 '16/3Q',
 '16/4Q',
 '17/1Q',
 '17/2Q',
 '17/3Q',
 '17/4Q',
 '18/1Q',
 '18/2Q',
 '18/3Q',
 '08/4Q',
 '09/1Q',
 '09/2Q',
 '09/3Q',
 '09/4Q',
 '10/1Q',
 '10/2Q',
 '10/3Q',
 '10/4Q',
 '11/1Q',
 '11/2Q',
 '11/3Q',
 '11/4Q',
 '12/1Q',
 '12/2Q',
 '12/3Q',
 '12/4Q',
 '13/1Q',
 '13/2Q',
 '13/3Q',
 '13/4Q',
 '14/1Q',
 '14/2Q',
 '14/3Q',
 '14/4Q',
 '15/1Q',
 '15/2Q',
 '15/3Q',
 '15/4Q',
 '16/1Q',
 '16/2Q',
 '16/3Q',
 '16/4Q',
 '17/1Q',
 '17/2Q',
 '17/3Q',
 '17/4Q',
 '18/1Q',
 '18/2Q',
 '18/3Q',
 '08/4Q',
 '09/1Q',
 '09/2Q',
 '09/3Q',
 '09/4Q',
 '10/1Q',
 '10/2Q',
 '10/3Q',
 '10/4Q',
 '11/1Q',
 '11/2Q',
 '11/3Q',
 '11/4Q',
 '12/1Q',
 '12/2Q',
 '12/3Q',
 '12/4Q',
 '13/1Q',
 '13/2Q',
 '13/3Q',
 '13/4Q',
 '14/1Q',
 '14/2Q',
 '14/3Q',
 '14/4Q',
 '15/1Q',
 '15/2Q',
 '15/3Q',
 '15/4Q',
 '16/1Q',
 '16/2Q',
 '16/3Q',
 '16/4Q',
 '17/1Q',
 '17/2Q',
 '17/3Q',
 '17/4Q',
 '18/1Q',
 '18/2Q',
 '18/3Q',
 '08/4Q',
 '09/1Q',
 '09/2Q',
 '09/3Q',
 '09/4Q',
 '10/1Q',
 '10/2Q',
 '10/3Q',
 '10/4Q',
 '11/1Q',
 '11/2Q',
 '11/3Q',
 '11/4Q',
 '12/1Q',
 '12/2Q',
 '12/3Q',
 '12/4Q',
 '13/1Q',
 '13/2Q',
 '13/3Q',
 '13/4Q',
 '14/1Q',
 '14/2Q',
 '14/3Q',
 '14/4Q',
 '15/1Q',
 '15/2Q',
 '15/3Q',
 '15/4Q',
 '16/1Q',
 '16/2Q',
 '16/3Q',
 '16/4Q',
 '17/1Q',
 '17/2Q',
 '17/3Q',
 '17/4Q',
 '18/1Q',
 '18/2Q',
 '18/3Q',
 '08/4Q',
 '09/1Q',
 '09/2Q',
 '09/3Q',
 '09/4Q',
 '10/1Q',
 '10/2Q',
 '10/3Q',
 '10/4Q',
 '11/1Q',
 '11/2Q',
 '11/3Q',
 '11/4Q',
 '12/1Q',
 '12/2Q',
 '12/3Q',
 '12/4Q',
 '13/1Q',
 '13/2Q',
 '13/3Q',
 '13/4Q',
 '14/1Q',
 '14/2Q',
 '14/3Q',
 '14/4Q',
 '15/1Q',
 '15/2Q',
 '15/3Q',
 '15/4Q',
 '16/1Q',
 '16/2Q',
 '16/3Q',
 '16/4Q',
 '17/1Q',
 '17/2Q',
 '17/3Q',
 '17/4Q',
 '18/1Q',
 '18/2Q',
 '08/4Q',
 '09/1Q',
 '09/2Q',
 '09/3Q',
 '09/4Q',
 '10/1Q',
 '10/2Q',
 '10/3Q',
 '10/4Q',
 '11/1Q',
 '11/2Q',
 '11/3Q',
 '11/4Q',
 '12/1Q',
 '12/2Q',
 '12/3Q',
 '12/4Q',
 '13/1Q',
 '13/2Q',
 '13/3Q',
 '13/4Q',
 '14/1Q',
 '14/2Q',
 '14/3Q',
 '14/4Q',
 '15/1Q',
 '15/2Q',
 '15/3Q',
 '15/4Q',
 '16/1Q',
 '16/2Q',
 '16/3Q',
 '16/4Q',
 '17/1Q',
 '17/2Q',
 '17/3Q',
 '17/4Q',
 '18/1Q',
 '18/2Q',
 '08/4Q',
 '09/1Q',
 '09/2Q',
 '09/3Q',
 '09/4Q',
 '10/1Q',
 '10/2Q',
 '10/3Q',
 '10/4Q',
 '11/1Q',
 '11/2Q',
 '11/3Q',
 '11/4Q',
 '12/1Q',
 '12/2Q',
 '12/3Q',
 '12/4Q',
 '13/1Q',
 '13/2Q',
 '13/3Q',
 '13/4Q',
 '14/1Q',
 '14/2Q',
 '14/3Q',
 '14/4Q',
 '15/1Q',
 '15/2Q',
 '15/3Q',
 '15/4Q',
 '16/1Q',
 '16/2Q',
 '16/3Q',
 '16/4Q',
 '17/1Q',
 '17/2Q',
 '17/3Q',
 '17/4Q',
 '18/1Q',
 '18/2Q',
 '18/3Q',
 '9년',
 '10년',
 '11년',
 '12년',
 '13년',
 '14년',
 '15년',
 '16년',
 '17년',
 '08/4Q',
 '09/1Q',
 '09/2Q',
 '09/3Q',
 '09/4Q',
 '10/1Q',
 '10/2Q',
 '10/3Q',
 '10/4Q',
 '11/1Q',
 '11/2Q',
 '11/3Q',
 '11/4Q',
 '12/1Q',
 '12/2Q',
 '12/3Q',
 '12/4Q',
 '13/1Q',
 '13/2Q',
 '13/3Q',
 '13/4Q',
 '14/1Q',
 '14/2Q',
 '14/3Q',
 '14/4Q',
 '15/1Q',
 '15/2Q',
 '15/3Q',
 '15/4Q',
 '16/1Q',
 '16/2Q',
 '16/3Q',
 '16/4Q',
 '17/1Q',
 '17/2Q',
 '17/3Q',
 '17/4Q',
 '18/1Q',
 '18/2Q']

In [14]:
raw_df.columns = [new_big_col, small_col]
raw_df.columns

MultiIndex([(     'Symbol',     nan),
            ('Symbol Name',     nan),
            (        'ROA', '08/4Q'),
            (        'ROA', '09/1Q'),
            (        'ROA', '09/2Q'),
            (        'ROA', '09/3Q'),
            (        'ROA', '09/4Q'),
            (        'ROA', '10/1Q'),
            (        'ROA', '10/2Q'),
            (        'ROA', '10/3Q'),
            ...
            (        'DPS', '16/1Q'),
            (        'DPS', '16/2Q'),
            (        'DPS', '16/3Q'),
            (        'DPS', '16/4Q'),
            (        'DPS', '17/1Q'),
            (        'DPS', '17/2Q'),
            (        'DPS', '17/3Q'),
            (        'DPS', '17/4Q'),
            (        'DPS', '18/1Q'),
            (        'DPS', '18/2Q')],
           length=651)

In [15]:
raw_df.head()

    Symbol Symbol Name    ROA                                            \
       NaN         NaN  08/4Q  09/1Q  09/2Q  09/3Q  09/4Q  10/1Q  10/2Q
0      NaN         NaN  08/4Q  09/1Q  09/2Q  09/3Q  09/4Q  10/1Q  10/2Q
1  A005930        삼성전자   7.62   5.24   3.78   5.46   6.93   8.74  10.53
2  A000660      SK하이닉스      0      0      0      0      0  12.57  18.73
3  A068270        셀트리온   2.92   4.89   8.63    7.3  10.48  11.75  14.02
4  A207940    삼성바이오로직스      0      0      0      0      0      0      0

          ...    DPS                                                          \
   10/3Q  ...  16/1Q  16/2Q  16/3Q  16/4Q  17/1Q  17/2Q  17/3Q  17/4Q  18/1Q
0  10/3Q  ...  16/1Q  16/2Q  16/3Q  16/4Q  17/1Q  17/2Q  17/3Q  17/4Q  18/1Q
1  11.46  ...    570    570    570    570    850    850    850    850    850
2  25.35  ...    600    600    600    600   1000   1000   1000   1000   1000
3  17.22  ...  46.73  46.73  46.73  46.73  19.61  19.61  19.61  19.61  19.61
4      0  ...      0      0      0      0      0      0      0      0      0


   18/2Q
0  18/2Q
1    850
2   1000
3  19.61
4      0

[5 rows x 651 columns]

In [19]:
# Nan값 삭제
raw_df.isnull().sum(axis =1)

0       2
1       0
2       0
3       0
4       0
       ..
2049    0
2050    0
2051    0
2052    0
2053    0
Length: 2054, dtype: int64

In [25]:
# 첫행 삭제
finance_df = raw_df.drop(0)
finance_df

       Symbol Symbol Name   ROA                                                \
          NaN         NaN 08/4Q 09/1Q 09/2Q 09/3Q  09/4Q  10/1Q  10/2Q  10/3Q
1     A005930        삼성전자  7.62  5.24  3.78  5.46   6.93   8.74  10.53  11.46
2     A000660      SK하이닉스     0     0     0     0      0  12.57  18.73  25.35
3     A068270        셀트리온  2.92  4.89  8.63   7.3  10.48  11.75  14.02  17.22
4     A207940    삼성바이오로직스     0     0     0     0      0      0      0      0
5     A005380         현대차   4.5  3.94  4.67   6.6   8.36  10.01     10   9.82
...       ...         ...   ...   ...   ...   ...    ...    ...    ...    ...
2049  A297570   IBKS제9호스팩     0     0     0     0      0      0      0      0
2050  A279410   한화에이스스팩4호     0     0     0     0      0      0      0      0
2051  A258790   케이비제11호스팩     0     0     0     0      0      0      0      0
2052  A264290   한화에이스스팩3호     0     0     0     0      0      0      0      0
2053  A010400     우진아이엔에스     0     0     0     0      0      0      0      0

      ...    DPS                                                          \
      ...  16/1Q  16/2Q  16/3Q  16/4Q  17/1Q  17/2Q  17/3Q  17/4Q  18/1Q
1     ...    570    570    570    570    850    850    850    850    850
2     ...    600    600    600    600   1000   1000   1000   1000   1000
3     ...  46.73  46.73  46.73  46.73  19.61  19.61  19.61  19.61  19.61
4     ...      0      0      0      0      0      0      0      0      0
5     ...   4000   4000   4000   4000   4000   4000   4000   4000   4000
...   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
2049  ...      0      0      0      0      0      0      0      0      0
2050  ...      0      0      0      0      0      0      0      0      0
2051  ...      0      0      0      0      0      0      0      0      0
2052  ...      0      0      0      0      0      0      0      0      0
2053  ...      0      0      0      0      0      0      0      0      0


      18/2Q
1       850
2      1000
3     19.61
4         0
5      4000
...     ...
2049      0
2050      0
2051      0
2052      0
2053      0

[2053 rows x 651 columns]

In [35]:
# finance_df.index= finance_df['Symbol']['Symbol']
# finance_df['Symbol'][np.NaN]
finance_df.index[0]

1

In [26]:
finance_df.head()

    Symbol Symbol Name   ROA                                                \
       NaN         NaN 08/4Q 09/1Q 09/2Q 09/3Q  09/4Q  10/1Q  10/2Q  10/3Q
1  A005930        삼성전자  7.62  5.24  3.78  5.46   6.93   8.74  10.53  11.46
2  A000660      SK하이닉스     0     0     0     0      0  12.57  18.73  25.35
3  A068270        셀트리온  2.92  4.89  8.63   7.3  10.48  11.75  14.02  17.22
4  A207940    삼성바이오로직스     0     0     0     0      0      0      0      0
5  A005380         현대차   4.5  3.94  4.67   6.6   8.36  10.01     10   9.82

   ...    DPS
   ...  16/1Q  16/2Q  16/3Q  16/4Q  17/1Q  17/2Q  17/3Q  17/4Q  18/1Q  18/2Q
1  ...    570    570    570    570    850    850    850    850    850    850
2  ...    600    600    600    600   1000   1000   1000   1000   1000   1000
3  ...  46.73  46.73  46.73  46.73  19.61  19.61  19.61  19.61  19.61  19.61
4  ...      0      0      0      0      0      0      0      0      0      0
5  ...   4000   4000   4000   4000   4000   4000   4000   4000   4000   4000

[5 rows x 651 columns]

In [33]:
# 멀티칼럼이기 때문에 2개값을 튜플로 묶어서
date = '17/2Q'
finance_df = finance_df[[('PBR',date),('ROA',date),('부채비율',date),('Symbol Name',np.NaN)]]
finance_df

       PBR    ROA  부채비율 Symbol Name
     17/2Q  17/2Q 17/2Q         NaN
1      1.6  10.95    38        삼성전자
2     1.77  17.58    35      SK하이닉스
3     6.41   9.61    35        셀트리온
4      4.8      0    77    삼성바이오로직스
5     0.51   2.43   143         현대차
...    ...    ...   ...         ...
2049     0      0     0   IBKS제9호스팩
2050     0      0     0   한화에이스스팩4호
2051   1.1      0    12   케이비제11호스팩
2052  1.22      0    17   한화에이스스팩3호
2053     0   3.29    32     우진아이엔에스

[2053 rows x 4 columns]

## 재무데이터 함수화

In [75]:
def finance_data_preprocessing(path):
    
    raw_data = pd.read_excel(path)
    
    big_col = list(raw_data.columns)
    for num,temp in enumerate(big_col):
        if '.' in temp:
            big_col[num] = temp.split('.')[0]
    
    small_col = list(raw_data.loc[0])
    small_col[0] = big_col[0]
    small_col[1] = big_col[1]
    
    raw_data.columns = [big_col, small_col]
    raw_data = raw_data.drop(0)
    
    raw_data.index = raw_data['Symbol']['Symbol']
    del raw_data['Symbol']
    
    return raw_data

In [76]:
finance_data_preprocessing('./data/재무데이터 수정.xlsx')

        Symbol Name   ROA                                                \
        Symbol Name 08/4Q 09/1Q 09/2Q 09/3Q  09/4Q  10/1Q  10/2Q  10/3Q
Symbol
A005930        삼성전자  7.62  5.24  3.78  5.46   6.93   8.74  10.53  11.46
A000660      SK하이닉스     0     0     0     0      0  12.57  18.73  25.35
A068270        셀트리온  2.92  4.89  8.63   7.3  10.48  11.75  14.02  17.22
A207940    삼성바이오로직스     0     0     0     0      0      0      0      0
A005380         현대차   4.5  3.94  4.67   6.6   8.36  10.01     10   9.82
...             ...   ...   ...   ...   ...    ...    ...    ...    ...
A297570   IBKS제9호스팩     0     0     0     0      0      0      0      0
A279410   한화에이스스팩4호     0     0     0     0      0      0      0      0
A258790   케이비제11호스팩     0     0     0     0      0      0      0      0
A264290   한화에이스스팩3호     0     0     0     0      0      0      0      0
A010400     우진아이엔에스     0     0     0     0      0      0      0      0

                ...    DPS                                                   \
         10/4Q  ...  16/1Q  16/2Q  16/3Q  16/4Q  17/1Q  17/2Q  17/3Q  17/4Q
Symbol          ...
A005930   12.1  ...    570    570    570    570    850    850    850    850
A000660  17.41  ...    600    600    600    600   1000   1000   1000   1000
A068270   9.68  ...  46.73  46.73  46.73  46.73  19.61  19.61  19.61  19.61
A207940      0  ...      0      0      0      0      0      0      0      0
A005380   7.82  ...   4000   4000   4000   4000   4000   4000   4000   4000
...        ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
A297570      0  ...      0      0      0      0      0      0      0      0
A279410      0  ...      0      0      0      0      0      0      0      0
A258790      0  ...      0      0      0      0      0      0      0      0
A264290      0  ...      0      0      0      0      0      0      0      0
A010400      0  ...      0      0      0      0      0      0      0      0


         18/1Q  18/2Q
Symbol
A005930    850    850
A000660   1000   1000
A068270  19.61  19.61
A207940      0      0
A005380   4000   4000
...        ...    ...
A297570      0      0
A279410      0      0
A258790      0      0
A264290      0      0
A010400      0      0

[2053 rows x 650 columns]

# 수정주가

In [49]:
price_raw = pd.read_csv('./data/수정주가.csv', encoding='euckr')
price_raw.head()

,코드명,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,...,A900340,A950010,A950030,A950070,A950100,A950110,A950130,A950140,A950160,A950170
0,종목명,조흥은행,동화약품,우리은행,KR모터스,경방,메리츠화재,삼양홀딩스,하이트진로,두산상사,...,윙입푸드,평산차업,네프로아이티,중국고섬,SBI모기지,SBI핀테크솔루션즈,엑세스바이오,잉글우드랩,코오롱티슈진(Reg.S),JTC
1,20060131,NaN,3430,NaN,2317,12164,5788,57432,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20060228,NaN,3440,NaN,2279,9693,5015,55082,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20060331,NaN,3080,NaN,2039,10187,4775,58556,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20060428,NaN,5040,NaN,1918,10985,6060,62133,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
price_df = price_raw.drop(0)

In [51]:
price_df.index = pd.to_datetime(price_df['코드명'])
price_df

,코드명,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,...,A900340,A950010,A950030,A950070,A950100,A950110,A950130,A950140,A950160,A950170
코드명,,,,,,,,,,,,,,,,,,,,,
2006-01-31,20060131,NaN,3430,NaN,2317,12164,5788,57432,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-02-28,20060228,NaN,3440,NaN,2279,9693,5015,55082,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-03-31,20060331,NaN,3080,NaN,2039,10187,4775,58556,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-04-28,20060428,NaN,5040,NaN,1918,10985,6060,62133,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-05-30,20060530,NaN,5500,NaN,1332,10643,6008,57432,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-10-31,20181031,NaN,9050,15750,558,11850,18200,86300,15750,NaN,...,NaN,NaN,NaN,NaN,NaN,7150,3985,5610,34000,6570
2018-11-30,20181130,NaN,9110,15650,512,11250,21200,87500,17500,NaN,...,2340,NaN,NaN,NaN,NaN,15300,4150,7290,41900,8200
2018-12-28,20181228,NaN,9100,15600,500,10800,21850,78500,16600,NaN,...,1395,NaN,NaN,NaN,NaN,16300,4285,6230,43150,6730
2019-01-31,20190131,NaN,9840,14800,528,11000,22200,83200,16900,NaN,...,1535,NaN,NaN,NaN,NaN,14200,4015,5490,39200,7120
2019-02-28,20190228,NaN,9800,NaN,507,11250,22100,84300,17700,NaN,...,2290,NaN,NaN,NaN,NaN,12600,3980,5490,40300,8710

In [52]:
price_df.drop(['코드명'], axis=1, inplace=True)

In [53]:
price_df.head()

,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A900340,A950010,A950030,A950070,A950100,A950110,A950130,A950140,A950160,A950170
코드명,,,,,,,,,,,,,,,,,,,,,
2006-01-31,NaN,3430,NaN,2317,12164,5788,57432,NaN,NaN,120947,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-02-28,NaN,3440,NaN,2279,9693,5015,55082,NaN,NaN,120947,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-03-31,NaN,3080,NaN,2039,10187,4775,58556,NaN,NaN,111188,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-04-28,NaN,5040,NaN,1918,10985,6060,62133,NaN,NaN,108050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-05-30,NaN,5500,NaN,1332,10643,6008,57432,NaN,NaN,101079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 수정주가 함수화

In [54]:
def price_data_preprocs(path):
    price_raw = pd.read_csv(path,encoding='euckr')
    price_df = price_raw.drop(0)
    price_df.index = pd.to_datetime(price_df['코드명'])
    del price_df['코드명']
    return price_df

In [55]:
price_data_preprocs('./data/수정주가.csv')

,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A900340,A950010,A950030,A950070,A950100,A950110,A950130,A950140,A950160,A950170
코드명,,,,,,,,,,,,,,,,,,,,,
2006-01-31,NaN,3430,NaN,2317,12164,5788,57432,NaN,NaN,120947,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-02-28,NaN,3440,NaN,2279,9693,5015,55082,NaN,NaN,120947,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-03-31,NaN,3080,NaN,2039,10187,4775,58556,NaN,NaN,111188,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-04-28,NaN,5040,NaN,1918,10985,6060,62133,NaN,NaN,108050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-05-30,NaN,5500,NaN,1332,10643,6008,57432,NaN,NaN,101079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-10-31,NaN,9050,15750,558,11850,18200,86300,15750,NaN,160283,...,NaN,NaN,NaN,NaN,NaN,7150,3985,5610,34000,6570
2018-11-30,NaN,9110,15650,512,11250,21200,87500,17500,NaN,217698,...,2340,NaN,NaN,NaN,NaN,15300,4150,7290,41900,8200
2018-12-28,NaN,9100,15600,500,10800,21850,78500,16600,NaN,204500,...,1395,NaN,NaN,NaN,NaN,16300,4285,6230,43150,6730
2019-01-31,NaN,9840,14800,528,11000,22200,83200,16900,NaN,238000,...,1535,NaN,NaN,NaN,NaN,14200,4015,5490,39200,7120
2019-02-28,NaN,9800,NaN,507,11250,22100,84300,17700,NaN,260500,...,2290,NaN,NaN,NaN,NaN,12600,3980,5490,40300,8710

In [65]:
data_df = finance_data_preprocs('./data/재무데이터 수정.xlsx')

date= '17/4Q'
fin_df = data_df[[('시총',date),('PER',date),('PBR',date),('PSR',date),('Symbol Name','Symbol Name')]]

In [66]:
fin_df

              시총   PER    PBR   PSR Symbol Name
           17/4Q 17/4Q  17/4Q 17/4Q Symbol Name
Symbol
A005930  3289430     8   1.59  0.73        삼성전자
A000660   556922   5.2   1.65  0.54      SK하이닉스
A068270   276615  69.2  11.41  0.03        셀트리온
A207940   245472     0   6.17  0.02    삼성바이오로직스
A005380   343631   8.5    0.5   2.8         현대차
...          ...   ...    ...   ...         ...
A297570        0     0      0     0   IBKS제9호스팩
A279410       70     0   1.06     0   한화에이스스팩4호
A258790       63     0   1.04     0   케이비제11호스팩
A264290       62     0   1.07     0   한화에이스스팩3호
A010400        0     0      0     0     우진아이엔에스

[2053 rows x 5 columns]

In [67]:
fin_df['시총'][date] = pd.to_numeric(fin_df['시총'][date])

C:\Users\bitcamp\AppData\Local\Temp/ipykernel_14672/879481769.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fin_df['시총'][date] = pd.to_numeric(fin_df['시총'][date])

In [68]:
fin_df1 = fin_df[fin_df['시총'][date]>0]

In [71]:
fin_df2 = fin_df1[(fin_df1['PER'][date]>0) & (fin_df1['PER'][date]<10)]
fin_df3 = fin_df2[(fin_df2['PBR'][date]>0) & (fin_df2['PBR'][date]<10)] 
fin_df4 = fin_df3[(fin_df3['PSR'][date]>0) & (fin_df3['PSR'][date]<10)]

In [72]:
fin_df4

              시총   PER   PBR   PSR Symbol Name
           17/4Q 17/4Q 17/4Q 17/4Q Symbol Name
Symbol
A005930  3289430     8  1.59  0.73        삼성전자
A000660   556922   5.2  1.65  0.54      SK하이닉스
A005380   343631   8.5   0.5   2.8         현대차
A017670   215591   8.3  1.21  0.81       SK텔레콤
A105560   265083     8  0.78  0.43        KB금융
...          ...   ...   ...   ...         ...
A187270      517   8.5  0.98  1.07        신화콘텍
A019770      415     9  0.54  5.06       서연탑메탈
A101670      309   7.9  0.93   0.5      코리아에스이
A060380      311   9.7  0.59  5.99       동양에스텍
A054410      315   7.7  0.99  0.84       케이피티유

[341 rows x 5 columns]

# LSV 함수화

In [77]:
def LSV(path, date):
    data_df = finance_data_preprocessing(path)

    date = '17/4Q'
    fin_df = data_df[[('시총', date), ('PER',  date), ('PBR', date), ('PSR', date), ('Symbol Name', 'Symbol Name')]]
    fin_df['시총'][date] = pd.to_numeric(fin_df['시총'][date])
    
    fin_df1 = fin_df[fin_df['시총'][date] > 0]
    fin_df2 = fin_df1[(fin_df1['PER'][date] > 0) & (fin_df1['PER'][date] < 10)]
    fin_df3 = fin_df2[(fin_df2['PBR'][date] > 0) & (fin_df1['PER'][date] < 1)]
    fin_df4 = fin_df3[fin_df3['PSR'][date] > 0]
    
    return fin_df4

In [78]:
path = './data/재무데이터 수정.xlsx'
date = '17/4Q'

LSV(path, date)

C:\Users\bitcamp\AppData\Local\Temp/ipykernel_14672/723478746.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fin_df['시총'][date] = pd.to_numeric(fin_df['시총'][date])
C:\Users\bitcamp\AppData\Local\Temp/ipykernel_14672/723478746.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fin_df3 = fin_df2[(fin_df2['PBR'][date] > 0) & (fin_df1['PER'][date] < 1)]

           시총   PER   PBR   PSR Symbol Name
        17/4Q 17/4Q 17/4Q 17/4Q Symbol Name
Symbol
A027410  4920   0.1  0.69  0.25         BGF
A128820  1735   0.8   0.4  5.19        대성산업
A100090   924   0.9  0.57  1.33       삼강엠앤티
A002620  1556   0.3  0.93  0.29     제일파마홀딩스
A054620   896   0.1  0.49  0.98      APS홀딩스
A071970  1136   0.2  0.78  2.22      STX중공업
A088390  1276   0.7  0.78  0.36         이녹스

# ROA상위 10개 함수화

In [80]:
def Top_roa_str(path, date):
    data_df = finance_data_preprocessing(path)

    date = '17/4Q'
    fin_df = data_df[[('ROA', date), ('Symbol Name', 'Symbol Name')]]
        
    temp_df = data_df[[('ROA', date), ('Symbol Name', 'Symbol Name')]]
    temp_df = temp_df['ROA']['17/4Q'].sort_values(ascending=False)[:10]
    
    return temp_df

In [81]:
Top_roa_str(path, date)

Symbol
A054620      100
A002620      100
A027410      100
A071970     98.8
A192400     91.3
A088390    73.32
A078070    60.06
A263750    53.54
A011810     53.3
A001800    48.81
Name: 17/4Q, dtype: object

# 소형주 저PBR 함수화

In [82]:
def small_size(path, date):
    data_df = finance_data_preprocessing(path)

    date = date
    fin_df = data_df[[('시총', date), ('PER',  date), ('PBR', date), ('PSR', date), ('Symbol Name', 'Symbol Name')]]
    fin_df['시총'][date] = pd.to_numeric(fin_df['시총'][date])
    
    market_cap_quantile_series = fin_df['시총'][date].quantile(0.2)
    filtered_df = fin_df[fin_df['시총'][date] <= market_cap_quantile_series]
    
    filtered_df = filtered_df[(filtered_df['PBR'][date] >= 0.2) & (filtered_df['PER'][date] <= 0.8)]
    
    return filtered_df['PBR'][date].sort_values()[:10]

In [83]:
small_size(path, date)

C:\Users\bitcamp\AppData\Local\Temp/ipykernel_14672/1396046603.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fin_df['시총'][date] = pd.to_numeric(fin_df['시총'][date])

Symbol
A000950    0.22
A101680    0.25
A010770     0.3
A008110    0.35
A038110    0.36
A277410    0.36
A103230    0.39
A096350     0.4
A011300    0.42
A155960    0.45
Name: 17/4Q, dtype: object

# 벤자민 그레이험 전략 함수화

In [84]:
def benjamin_grahm(path, date):
    data_df = finance_data_preprocessing(path)

    fin_df = data_df[[('시총', date), ('ROA',  date), ('PBR', date), ('부채비율', date), ('Symbol Name', 'Symbol Name')]]
    fin_df['시총'][date] = pd.to_numeric(fin_df['시총'][date])
    
    filtered_df = fin_df[fin_df['ROA'][date] >= 0.05]
    filtered_df = filtered_df[filtered_df['부채비율'][date] <= 100]
    filtered_df = filtered_df[filtered_df['PBR'][date] >= 0.2]
    filtered_df = filtered_df['PBR'][date].sort_values()[:10]
    
    return filtered_df

In [85]:
benjamin_grahm(path, date)

C:\Users\bitcamp\AppData\Local\Temp/ipykernel_14672/1824676662.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fin_df['시총'][date] = pd.to_numeric(fin_df['시총'][date])

Symbol
A002300    0.22
A900110    0.26
A900080    0.28
A005010    0.28
A012320    0.29
A101930    0.29
A024830     0.3
A004360    0.31
A003830    0.32
A006200    0.32
Name: 17/4Q, dtype: object

# 백테스팅

In [124]:
price_df = price_data_preprocs('./data/수정주가.csv')

In [125]:
start_date = '2015-1'
init_money = 100000000
riskfree_rate = 0.02

backtest_price = price_df[start_date:]

In [126]:
backtest_price

,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A900340,A950010,A950030,A950070,A950100,A950110,A950130,A950140,A950160,A950170
코드명,,,,,,,,,,,,,,,,,,,,,
2015-01-30,NaN,5980,8800,1587,16700,12200,94600,23250,NaN,150190,...,NaN,690,NaN,NaN,NaN,3110,12950,NaN,NaN,NaN
2015-02-27,NaN,6250,9480,2046,17100,13100,90400,22850,NaN,150190,...,NaN,690,NaN,NaN,NaN,3515,12000,NaN,NaN,NaN
2015-03-31,NaN,7510,9380,2144,19400,11400,92000,22200,NaN,164242,...,NaN,690,NaN,NaN,NaN,3105,12300,NaN,NaN,NaN
2015-04-30,NaN,8330,10750,1858,26200,14300,102000,22700,NaN,202887,...,NaN,690,NaN,NaN,NaN,3320,10900,NaN,NaN,NaN
2015-05-29,NaN,9370,10500,1693,24300,14550,108000,21400,NaN,234508,...,NaN,690,NaN,NaN,NaN,3190,9400,NaN,NaN,NaN
2015-06-30,NaN,9070,9800,1625,24800,16250,233000,22650,NaN,239777,...,NaN,690,NaN,NaN,NaN,3600,10600,NaN,NaN,NaN
2015-07-31,NaN,8160,9540,1648,24050,16250,191500,22350,NaN,236703,...,NaN,690,NaN,NaN,NaN,3380,9130,NaN,NaN,NaN
2015-08-31,NaN,7100,9120,1572,20950,15450,179000,22100,NaN,218258,...,NaN,690,NaN,NaN,NaN,3240,11100,NaN,NaN,NaN
2015-09-30,NaN,7020,9390,1512,20800,15900,135500,22800,NaN,213867,...,NaN,690,NaN,NaN,NaN,3210,9350,NaN,NaN,NaN
2015-10-30,NaN,6920,9920,1580,19200,16100,160500,22900,NaN,248560,...,NaN,1300,NaN,NaN,NaN,3585,7690,NaN,NaN,NaN
2015-11-30,NaN,7750,9490,1494,18950,15000,159000,24150,NaN,243290,...,NaN,NaN,NaN,NaN,NaN,3730,7080,NaN,NaN,NaN
2015-12-30,NaN,8140,8820,1911,19250,16150,159000,23400,NaN,239338,...,NaN,NaN,NaN,NaN,NaN,3620,7220,NaN,NaN,NaN
2016-01-29,NaN,9080,8800,1806,20000,14950,175000,29750,NaN,292476,...,NaN,NaN,NaN,NaN,NaN,3500,8100,NaN,NaN,NaN
2016-02-29,NaN,7700,8710,1715,20900,15750,177000,29450,NaN,227042,...,NaN,NaN,NaN,NaN,NaN,3440,6760,NaN,NaN,NaN
2016-03-31,NaN,8110,9460,1715,19650,16000,157500,28900,NaN,246365,...,NaN,NaN,NaN,NaN,NaN,4085,7710,NaN,NaN,NaN
2016-04-29,NaN,9330,10500,1806,17400,16150,163000,27950,NaN,256465,...,NaN,NaN,NaN,NaN,NaN,5070,7690,NaN,NaN,NaN
2016-05-31,NaN,10500,9950,1663,16200,15850,147000,25100,NaN,278422,...,NaN,NaN,NaN,NaN,NaN,4500,7330,NaN,NaN,NaN
2016-06-30,NaN,10100,9520,1715,17300,14700,146500,23850,NaN,268761,...,NaN,NaN,NaN,NaN,NaN,4875,8220,NaN,NaN,NaN
2016-07-29,NaN,9920,10100,1745,17200,15350,120500,22500,NaN,268761,...,NaN,NaN,NaN,NaN,NaN,4460,7880,NaN,NaN,NaN
2016-08-31,NaN,8830,10600,1663,17100,15550,120000,21900,NaN,253390,...,NaN,NaN,NaN,NaN,NaN,4035,7030,NaN,NaN,NaN
2016-09-30,NaN,8980,11400,1595,19300,15400,135500,22550,NaN,243729,...,NaN,NaN,NaN,NaN,NaN,3705,7120,NaN,NaN,NaN
2016-10-31,NaN,7780,12500,1399,18100,15950,125000,22000,NaN,184444,...,NaN,NaN,NaN,NaN,NaN,4020,5850,15300,NaN,NaN
2016-11-30,NaN,7720,12000,1294,17600,16500,122500,21750,NaN,173026,...,NaN,NaN,NaN,NaN,NaN,3865,5560,12950,NaN,NaN
2016-12-29,NaN,8120,12750,1298,15300,15300,119500,21100,NaN,182933,...,NaN,NaN,NaN,NaN,NaN,3740,6120,11900,NaN,NaN
2017-01-31,NaN,8210,13100,1181,14350,15050,102500,20800,NaN,172847,...,NaN,NaN,NaN,NaN,NaN,3960,5700,9300,NaN,NaN
2017-02-28,NaN,8900,13300,1184,14200,15400,112500,21100,NaN,205398,...,NaN,NaN,NaN,NaN,NaN,3930,5390,9500,NaN,NaN
2017-03-31,NaN,9090,13000,1181,14850,16000,123500,20350,NaN,204023,...,NaN,NaN,NaN,NaN,NaN,4040,4855,8840,NaN,NaN
2017-04-28,NaN,9200,14950,1068,14700,17700,126500,20900,NaN,212734,...,NaN,NaN,NaN,NaN,NaN,4375,5100,7500,NaN,NaN
2017-05-31,NaN,8990,15300,1339,16350,18800,133500,24200,NaN,229239,...,NaN,NaN,NaN,NaN,NaN,4520,4750,8190,NaN,NaN
2017-06-30,NaN,8470,18450,1365,15600,20050,122500,23300,NaN,225571,...,NaN,NaN,NaN,NaN,NaN,5680,4700,7600,NaN,NaN
2017-07-31,NaN,8180,19100,1168,16300,23650,115000,23950,NaN,216860,...,NaN,NaN,NaN,NaN,NaN,5410,4165,7900,NaN,NaN
2017-08-31,NaN,9050,18600,1020,14650,25300,107000,26100,NaN,207233,...,NaN,NaN,NaN,NaN,NaN,6400,4345,7190,NaN,NaN
2017-09-29,NaN,8560,17850,778,14100,24650,88500,26300,NaN,189352,...,NaN,NaN,NaN,NaN,NaN,5850,4265,6280,NaN,NaN
2017-10-31,NaN,8840,16400,608,14550,25700,90400,26600,NaN,187059,...,NaN,NaN,NaN,NaN,NaN,5940,4570,6820,NaN,NaN
2017-11-30,NaN,10300,16200,522,13650,25700,102500,23700,NaN,201730,...,NaN,NaN,NaN,NaN,NaN,7750,4695,6620,54500,NaN
2017-12-28,NaN,9750,15750,489,13900,23500,122000,24100,NaN,209565,...,NaN,NaN,NaN,NaN,NaN,7200,4580,6000,51800,NaN
2018-01-31,NaN,10800,16850,632,14500,24900,121500,23000,NaN,222961,...,NaN,NaN,NaN,NaN,NaN,9850,6030,6180,56500,NaN
2018-02-28,NaN,11400,16600,561,14050,22850,111500,22000,NaN,199039,...,NaN,NaN,NaN,NaN,NaN,8850,5210,5570,47050,NaN
2018-03-30,NaN,12250,14650,577,14050,21050,98000,22450,NaN,212435,...,NaN,NaN,NaN,NaN,NaN,8060,5050,5200,48400,NaN
2018-04-30,NaN,11550,16050,667,14900,20950,111000,21800,NaN,219134,...,NaN,NaN,NaN,NaN,NaN,8550,5250,6260,41150,14950
2018-05-31,NaN,11450,15300,722,13050,20500,114500,20150,NaN,227746,...,NaN,NaN,NaN,NaN,NaN,7700,4965,6270,32600,13000
2018-06-29,NaN,10200,16300,603,13850,19200,119000,19650,NaN,208129,...,NaN,NaN,NaN,NaN,NaN,7100,4645,5250,38400,11700
2018-07-31,NaN,11050,16900,585,12750,18400,114000,18200,NaN,213392,...,NaN,NaN,NaN,NaN,NaN,7820,4335,4715,36400,10950
2018-08-31,NaN,11600,16300,587,13750,18250,102000,16800,NaN,228703,...,NaN,NaN,NaN,NaN,NaN,8550,4585,5040,41350,9890
2018-09-28,NaN,11350,16900,586,13000,19350,101500,16850,NaN,232052,...,NaN,NaN,NaN,NaN,NaN,8470,4960,5150,48900,8750
2018-10-31,NaN,9050,15750,558,11850,18200,86300,15750,NaN,160283,...,NaN,NaN,NaN,NaN,NaN,7150,3985,5610,34000,6570
2018-11-30,NaN,9110,15650,512,11250,21200,87500,17500,NaN,217698,...,2340,NaN,NaN,NaN,NaN,15300,4150,7290,41900,8200
2018-12-28,NaN,9100,15600,500,10800,21850,78500,16600,NaN,204500,...,1395,NaN,NaN,NaN,NaN,16300,4285,6230,43150,6730
2019-01-31,NaN,9840,14800,528,11000,22200,83200,16900,NaN,238000,...,1535,NaN,NaN,NaN,NaN,14200,4015,5490,39200,7120
2019-02-28,NaN,9800,NaN,507,11250,22100,84300,17700,NaN,260500,...,2290,NaN,NaN,NaN,NaN,12600,3980,5490,40300,8710

## 5개 종목 균등비율 포트폴리오

In [127]:
selected_list = ['A000020','A000030','A000040','A000050','A000060']

In [128]:
backtest_price[selected_list]

           A000020 A000030 A000040 A000050 A000060
코드명
2015-01-30    5980    8800    1587   16700   12200
2015-02-27    6250    9480    2046   17100   13100
2015-03-31    7510    9380    2144   19400   11400
2015-04-30    8330   10750    1858   26200   14300
2015-05-29    9370   10500    1693   24300   14550
2015-06-30    9070    9800    1625   24800   16250
2015-07-31    8160    9540    1648   24050   16250
2015-08-31    7100    9120    1572   20950   15450
2015-09-30    7020    9390    1512   20800   15900
2015-10-30    6920    9920    1580   19200   16100
2015-11-30    7750    9490    1494   18950   15000
2015-12-30    8140    8820    1911   19250   16150
2016-01-29    9080    8800    1806   20000   14950
2016-02-29    7700    8710    1715   20900   15750
2016-03-31    8110    9460    1715   19650   16000
2016-04-29    9330   10500    1806   17400   16150
2016-05-31   10500    9950    1663   16200   15850
2016-06-30   10100    9520    1715   17300   14700
2016-07-29    9920   10100    1745   17200   15350
2016-08-31    8830   10600    1663   17100   15550
2016-09-30    8980   11400    1595   19300   15400
2016-10-31    7780   12500    1399   18100   15950
2016-11-30    7720   12000    1294   17600   16500
2016-12-29    8120   12750    1298   15300   15300
2017-01-31    8210   13100    1181   14350   15050
2017-02-28    8900   13300    1184   14200   15400
2017-03-31    9090   13000    1181   14850   16000
2017-04-28    9200   14950    1068   14700   17700
2017-05-31    8990   15300    1339   16350   18800
2017-06-30    8470   18450    1365   15600   20050
2017-07-31    8180   19100    1168   16300   23650
2017-08-31    9050   18600    1020   14650   25300
2017-09-29    8560   17850     778   14100   24650
2017-10-31    8840   16400     608   14550   25700
2017-11-30   10300   16200     522   13650   25700
2017-12-28    9750   15750     489   13900   23500
2018-01-31   10800   16850     632   14500   24900
2018-02-28   11400   16600     561   14050   22850
2018-03-30   12250   14650     577   14050   21050
2018-04-30   11550   16050     667   14900   20950
2018-05-31   11450   15300     722   13050   20500
2018-06-29   10200   16300     603   13850   19200
2018-07-31   11050   16900     585   12750   18400
2018-08-31   11600   16300     587   13750   18250
2018-09-28   11350   16900     586   13000   19350
2018-10-31    9050   15750     558   11850   18200
2018-11-30    9110   15650     512   11250   21200
2018-12-28    9100   15600     500   10800   21850
2019-01-31    9840   14800     528   11000   22200
2019-02-28    9800     NaN     507   11250   22100

In [129]:
# 종목당 초기자본
each_money = init_money/ len(selected_list)
each_money

20000000.0

In [130]:
backtest_price

,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A900340,A950010,A950030,A950070,A950100,A950110,A950130,A950140,A950160,A950170
코드명,,,,,,,,,,,,,,,,,,,,,
2015-01-30,NaN,5980,8800,1587,16700,12200,94600,23250,NaN,150190,...,NaN,690,NaN,NaN,NaN,3110,12950,NaN,NaN,NaN
2015-02-27,NaN,6250,9480,2046,17100,13100,90400,22850,NaN,150190,...,NaN,690,NaN,NaN,NaN,3515,12000,NaN,NaN,NaN
2015-03-31,NaN,7510,9380,2144,19400,11400,92000,22200,NaN,164242,...,NaN,690,NaN,NaN,NaN,3105,12300,NaN,NaN,NaN
2015-04-30,NaN,8330,10750,1858,26200,14300,102000,22700,NaN,202887,...,NaN,690,NaN,NaN,NaN,3320,10900,NaN,NaN,NaN
2015-05-29,NaN,9370,10500,1693,24300,14550,108000,21400,NaN,234508,...,NaN,690,NaN,NaN,NaN,3190,9400,NaN,NaN,NaN
2015-06-30,NaN,9070,9800,1625,24800,16250,233000,22650,NaN,239777,...,NaN,690,NaN,NaN,NaN,3600,10600,NaN,NaN,NaN
2015-07-31,NaN,8160,9540,1648,24050,16250,191500,22350,NaN,236703,...,NaN,690,NaN,NaN,NaN,3380,9130,NaN,NaN,NaN
2015-08-31,NaN,7100,9120,1572,20950,15450,179000,22100,NaN,218258,...,NaN,690,NaN,NaN,NaN,3240,11100,NaN,NaN,NaN
2015-09-30,NaN,7020,9390,1512,20800,15900,135500,22800,NaN,213867,...,NaN,690,NaN,NaN,NaN,3210,9350,NaN,NaN,NaN
2015-10-30,NaN,6920,9920,1580,19200,16100,160500,22900,NaN,248560,...,NaN,1300,NaN,NaN,NaN,3585,7690,NaN,NaN,NaN
2015-11-30,NaN,7750,9490,1494,18950,15000,159000,24150,NaN,243290,...,NaN,NaN,NaN,NaN,NaN,3730,7080,NaN,NaN,NaN
2015-12-30,NaN,8140,8820,1911,19250,16150,159000,23400,NaN,239338,...,NaN,NaN,NaN,NaN,NaN,3620,7220,NaN,NaN,NaN
2016-01-29,NaN,9080,8800,1806,20000,14950,175000,29750,NaN,292476,...,NaN,NaN,NaN,NaN,NaN,3500,8100,NaN,NaN,NaN
2016-02-29,NaN,7700,8710,1715,20900,15750,177000,29450,NaN,227042,...,NaN,NaN,NaN,NaN,NaN,3440,6760,NaN,NaN,NaN
2016-03-31,NaN,8110,9460,1715,19650,16000,157500,28900,NaN,246365,...,NaN,NaN,NaN,NaN,NaN,4085,7710,NaN,NaN,NaN
2016-04-29,NaN,9330,10500,1806,17400,16150,163000,27950,NaN,256465,...,NaN,NaN,NaN,NaN,NaN,5070,7690,NaN,NaN,NaN
2016-05-31,NaN,10500,9950,1663,16200,15850,147000,25100,NaN,278422,...,NaN,NaN,NaN,NaN,NaN,4500,7330,NaN,NaN,NaN
2016-06-30,NaN,10100,9520,1715,17300,14700,146500,23850,NaN,268761,...,NaN,NaN,NaN,NaN,NaN,4875,8220,NaN,NaN,NaN
2016-07-29,NaN,9920,10100,1745,17200,15350,120500,22500,NaN,268761,...,NaN,NaN,NaN,NaN,NaN,4460,7880,NaN,NaN,NaN
2016-08-31,NaN,8830,10600,1663,17100,15550,120000,21900,NaN,253390,...,NaN,NaN,NaN,NaN,NaN,4035,7030,NaN,NaN,NaN
2016-09-30,NaN,8980,11400,1595,19300,15400,135500,22550,NaN,243729,...,NaN,NaN,NaN,NaN,NaN,3705,7120,NaN,NaN,NaN
2016-10-31,NaN,7780,12500,1399,18100,15950,125000,22000,NaN,184444,...,NaN,NaN,NaN,NaN,NaN,4020,5850,15300,NaN,NaN
2016-11-30,NaN,7720,12000,1294,17600,16500,122500,21750,NaN,173026,...,NaN,NaN,NaN,NaN,NaN,3865,5560,12950,NaN,NaN
2016-12-29,NaN,8120,12750,1298,15300,15300,119500,21100,NaN,182933,...,NaN,NaN,NaN,NaN,NaN,3740,6120,11900,NaN,NaN
2017-01-31,NaN,8210,13100,1181,14350,15050,102500,20800,NaN,172847,...,NaN,NaN,NaN,NaN,NaN,3960,5700,9300,NaN,NaN
2017-02-28,NaN,8900,13300,1184,14200,15400,112500,21100,NaN,205398,...,NaN,NaN,NaN,NaN,NaN,3930,5390,9500,NaN,NaN
2017-03-31,NaN,9090,13000,1181,14850,16000,123500,20350,NaN,204023,...,NaN,NaN,NaN,NaN,NaN,4040,4855,8840,NaN,NaN
2017-04-28,NaN,9200,14950,1068,14700,17700,126500,20900,NaN,212734,...,NaN,NaN,NaN,NaN,NaN,4375,5100,7500,NaN,NaN
2017-05-31,NaN,8990,15300,1339,16350,18800,133500,24200,NaN,229239,...,NaN,NaN,NaN,NaN,NaN,4520,4750,8190,NaN,NaN
2017-06-30,NaN,8470,18450,1365,15600,20050,122500,23300,NaN,225571,...,NaN,NaN,NaN,NaN,NaN,5680,4700,7600,NaN,NaN
2017-07-31,NaN,8180,19100,1168,16300,23650,115000,23950,NaN,216860,...,NaN,NaN,NaN,NaN,NaN,5410,4165,7900,NaN,NaN
2017-08-31,NaN,9050,18600,1020,14650,25300,107000,26100,NaN,207233,...,NaN,NaN,NaN,NaN,NaN,6400,4345,7190,NaN,NaN
2017-09-29,NaN,8560,17850,778,14100,24650,88500,26300,NaN,189352,...,NaN,NaN,NaN,NaN,NaN,5850,4265,6280,NaN,NaN
2017-10-31,NaN,8840,16400,608,14550,25700,90400,26600,NaN,187059,...,NaN,NaN,NaN,NaN,NaN,5940,4570,6820,NaN,NaN
2017-11-30,NaN,10300,16200,522,13650,25700,102500,23700,NaN,201730,...,NaN,NaN,NaN,NaN,NaN,7750,4695,6620,54500,NaN
2017-12-28,NaN,9750,15750,489,13900,23500,122000,24100,NaN,209565,...,NaN,NaN,NaN,NaN,NaN,7200,4580,6000,51800,NaN
2018-01-31,NaN,10800,16850,632,14500,24900,121500,23000,NaN,222961,...,NaN,NaN,NaN,NaN,NaN,9850,6030,6180,56500,NaN
2018-02-28,NaN,11400,16600,561,14050,22850,111500,22000,NaN,199039,...,NaN,NaN,NaN,NaN,NaN,8850,5210,5570,47050,NaN
2018-03-30,NaN,12250,14650,577,14050,21050,98000,22450,NaN,212435,...,NaN,NaN,NaN,NaN,NaN,8060,5050,5200,48400,NaN
2018-04-30,NaN,11550,16050,667,14900,20950,111000,21800,NaN,219134,...,NaN,NaN,NaN,NaN,NaN,8550,5250,6260,41150,14950
2018-05-31,NaN,11450,15300,722,13050,20500,114500,20150,NaN,227746,...,NaN,NaN,NaN,NaN,NaN,7700,4965,6270,32600,13000
2018-06-29,NaN,10200,16300,603,13850,19200,119000,19650,NaN,208129,...,NaN,NaN,NaN,NaN,NaN,7100,4645,5250,38400,11700
2018-07-31,NaN,11050,16900,585,12750,18400,114000,18200,NaN,213392,...,NaN,NaN,NaN,NaN,NaN,7820,4335,4715,36400,10950
2018-08-31,NaN,11600,16300,587,13750,18250,102000,16800,NaN,228703,...,NaN,NaN,NaN,NaN,NaN,8550,4585,5040,41350,9890
2018-09-28,NaN,11350,16900,586,13000,19350,101500,16850,NaN,232052,...,NaN,NaN,NaN,NaN,NaN,8470,4960,5150,48900,8750
2018-10-31,NaN,9050,15750,558,11850,18200,86300,15750,NaN,160283,...,NaN,NaN,NaN,NaN,NaN,7150,3985,5610,34000,6570
2018-11-30,NaN,9110,15650,512,11250,21200,87500,17500,NaN,217698,...,2340,NaN,NaN,NaN,NaN,15300,4150,7290,41900,8200
2018-12-28,NaN,9100,15600,500,10800,21850,78500,16600,NaN,204500,...,1395,NaN,NaN,NaN,NaN,16300,4285,6230,43150,6730
2019-01-31,NaN,9840,14800,528,11000,22200,83200,16900,NaN,238000,...,1535,NaN,NaN,NaN,NaN,14200,4015,5490,39200,7120
2019-02-28,NaN,9800,NaN,507,11250,22100,84300,17700,NaN,260500,...,2290,NaN,NaN,NaN,NaN,12600,3980,5490,40300,8710

In [116]:
pf_value = 0
for code in selected_list:
    temp_num = int(each_money/int(backtest_price.iloc[0][code])) # 매입종목수
    pf_value = pf_value + pd.to_numeric(backtest_price[code])*temp_num # 포트폴리오의 현재가치

In [123]:
pf_value

코드명
2015-01-30     99975794.0
2015-02-27    110161852.0
2015-03-31    115349888.0
2015-04-30    130493136.0
2015-05-29    129459016.0
2015-06-30    129393280.0
2015-07-31    125151616.0
2015-08-31    114673084.0
2015-09-30    114820884.0
2015-10-30    114960180.0
2015-11-30    113572818.0
2015-12-30    120853722.0
2016-01-29    121559382.0
2016-02-29    117981900.0
2016-03-31    119970440.0
2016-04-29    125112382.0
2016-05-31    124045076.0
2016-06-30    121817670.0
2016-07-29    123857220.0
2016-08-31    120522996.0
2016-09-30    124372810.0
2016-10-31    119854268.0
2016-11-30    117497368.0
2016-12-29    115869476.0
2017-01-31    113944302.0
2017-02-28    117137968.0
2017-03-31    118815372.0
2017-04-28    124796336.0
2017-05-31    132082388.0
2017-06-30    138978960.0
2017-07-31    143741706.0
2017-08-31    144379190.0
2017-09-29    136263246.0
2017-10-31    134022426.0
2017-11-30    136289194.0
2017-12-28    129705178.0
2018-01-31    140530464.0
2018-02-28    137175522.0
2018-03-30    132838954.0
2018-04-30    135666684.0
2018-05-31    131369394.0
2018-06-29    126788656.0
2018-07-31    128139520.0
2018-08-31    129591874.0
2018-09-28    131011622.0
2018-10-31    117093366.0
2018-11-30    120685914.0
2018-12-28    120914350.0
2019-01-31    122737216.0
2019-02-28            NaN
dtype: float64

In [118]:
# 현금
cash = init_money - pf_value[0]
cash_pf = []
for i in range(0, len(pf_value)):
    cash_pf.append(cash*(1+riskfree_rate/12)**i) # 매월 이자

In [119]:
backtest_df = pd.DataFrame({'주식포트': pf_value})

In [120]:
backtest_df['현금포트'] = cash_pf

In [121]:
backtest_df['종합포트'] = backtest_df['주식포트'] + backtest_df['현금포트']

In [122]:
backtest_df.head()

                   주식포트          현금포트          종합포트
코드명
2015-01-30   99975794.0  24206.000000  1.000000e+08
2015-02-27  110161852.0  24246.343333  1.101861e+08
2015-03-31  115349888.0  24286.753906  1.153742e+08
2015-04-30  130493136.0  24327.231829  1.305175e+08
2015-05-29  129459016.0  24367.777215  1.294834e+08

## 함수화

In [ ]:
price_df = price_data_preprocs('./data/수정주가.csv')
start_date = '2015-1'
init_money = 100000000
riskfree_rate = 0.02

backtest_price = price_df[start_date:]
selected_list = ['A000020','A000030','A000040','A000050','A000060']
backtest_price[selected_list]

    
# 종목당 초기자본
each_money = init_money/ len(selected_list)
each_money

pf_value = 0
for code in selected_list:
    temp_num = int(each_money/int(backtest_price.iloc[0][code])) # 매입종목수
    pf_value = pf_value + pd.to_numeric(backtest_price[code])*temp_num # 포트폴리오의 현재가치


# 현금
cash = init_money - pf_value[0]
cash_pf = []
for i in range(0, len(pf_value)):
    cash_pf.append(cash*(1+riskfree_rate/12)**i) # 매월 이자

In [ ]:
def pfo_backtest(st_list, init_money, backtest_price, st_date, ed_date):

    selected_list = st_list

    each_money = init_money/len(selected_list)
    backtest_price = backtest_price[st_date: ed_date]

    pf_value = 0
    for code in selected_list:
        temp_num = int(each_money/int(backtest_price.iloc[0][code]))  # 매입종목수
        pf_value = pf_value + pd.to_numeric(backtest_price[code]) * temp_num  # pfo의 현재가치

    cash = init_money - pf_value[0]
    cash_pf = []

    for i in range(0, len(pf_value)):
        cash_pf.append(cash * (1 + riskfree_rate/12)**i)

    backtest_df = pd.DataFrame({'주식포트': pf_value})
    backtest_df['현금포트'] = cash_pf
    backtest_df['종합포트'] = backtest_df['주식포트'] + backtest_df['현금포트']
    
    backtest_df['종합포트'].plot()

    return backtest_df

In [ ]:
st_list = ['A000020', 'A000030', 'A000040', 'A000050', 'A000060']
init_money = 100000000
backtest_price = price_data_preprocs('수정주가.csv')
st_date = '2015-01'
ed_date = '2019-12'

pfo_backtest(st_list, init_money, backtest_price, st_date, ed_date)

## rebalancing 시도

In [131]:
price_df = price_data_preprocs('./data/수정주가.csv')
start_date = '2015-1'
init_money = 100000000
riskfree_rate = 0.02

backtest_price = price_df[start_date:]
selected_list = ['A000020','A000030','A000040','A000050','A000060']
backtest_price[selected_list]

           A000020 A000030 A000040 A000050 A000060
코드명
2015-01-30    5980    8800    1587   16700   12200
2015-02-27    6250    9480    2046   17100   13100
2015-03-31    7510    9380    2144   19400   11400
2015-04-30    8330   10750    1858   26200   14300
2015-05-29    9370   10500    1693   24300   14550
2015-06-30    9070    9800    1625   24800   16250
2015-07-31    8160    9540    1648   24050   16250
2015-08-31    7100    9120    1572   20950   15450
2015-09-30    7020    9390    1512   20800   15900
2015-10-30    6920    9920    1580   19200   16100
2015-11-30    7750    9490    1494   18950   15000
2015-12-30    8140    8820    1911   19250   16150
2016-01-29    9080    8800    1806   20000   14950
2016-02-29    7700    8710    1715   20900   15750
2016-03-31    8110    9460    1715   19650   16000
2016-04-29    9330   10500    1806   17400   16150
2016-05-31   10500    9950    1663   16200   15850
2016-06-30   10100    9520    1715   17300   14700
2016-07-29    9920   10100    1745   17200   15350
2016-08-31    8830   10600    1663   17100   15550
2016-09-30    8980   11400    1595   19300   15400
2016-10-31    7780   12500    1399   18100   15950
2016-11-30    7720   12000    1294   17600   16500
2016-12-29    8120   12750    1298   15300   15300
2017-01-31    8210   13100    1181   14350   15050
2017-02-28    8900   13300    1184   14200   15400
2017-03-31    9090   13000    1181   14850   16000
2017-04-28    9200   14950    1068   14700   17700
2017-05-31    8990   15300    1339   16350   18800
2017-06-30    8470   18450    1365   15600   20050
2017-07-31    8180   19100    1168   16300   23650
2017-08-31    9050   18600    1020   14650   25300
2017-09-29    8560   17850     778   14100   24650
2017-10-31    8840   16400     608   14550   25700
2017-11-30   10300   16200     522   13650   25700
2017-12-28    9750   15750     489   13900   23500
2018-01-31   10800   16850     632   14500   24900
2018-02-28   11400   16600     561   14050   22850
2018-03-30   12250   14650     577   14050   21050
2018-04-30   11550   16050     667   14900   20950
2018-05-31   11450   15300     722   13050   20500
2018-06-29   10200   16300     603   13850   19200
2018-07-31   11050   16900     585   12750   18400
2018-08-31   11600   16300     587   13750   18250
2018-09-28   11350   16900     586   13000   19350
2018-10-31    9050   15750     558   11850   18200
2018-11-30    9110   15650     512   11250   21200
2018-12-28    9100   15600     500   10800   21850
2019-01-31    9840   14800     528   11000   22200
2019-02-28    9800     NaN     507   11250   22100

In [145]:
backtest_price[code].iloc[0]

'12200'

In [132]:
# 종목당 초기자본
each_money = init_money/ len(selected_list)
each_money

20000000.0

In [150]:
def pfo_backtest(st_list, init_money, backtest_price, st_date, ed_date):

    selected_list = st_list

    each_money = init_money/len(selected_list)
    backtest_price = backtest_price[st_date: ed_date]

19995800

In [193]:
backtest_price

,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A900340,A950010,A950030,A950070,A950100,A950110,A950130,A950140,A950160,A950170
코드명,,,,,,,,,,,,,,,,,,,,,
2015-01-30,NaN,5980,8800,1587,16700,12200,94600,23250,NaN,150190,...,NaN,690,NaN,NaN,NaN,3110,12950,NaN,NaN,NaN
2015-02-27,NaN,6250,9480,2046,17100,13100,90400,22850,NaN,150190,...,NaN,690,NaN,NaN,NaN,3515,12000,NaN,NaN,NaN
2015-03-31,NaN,7510,9380,2144,19400,11400,92000,22200,NaN,164242,...,NaN,690,NaN,NaN,NaN,3105,12300,NaN,NaN,NaN
2015-04-30,NaN,8330,10750,1858,26200,14300,102000,22700,NaN,202887,...,NaN,690,NaN,NaN,NaN,3320,10900,NaN,NaN,NaN
2015-05-29,NaN,9370,10500,1693,24300,14550,108000,21400,NaN,234508,...,NaN,690,NaN,NaN,NaN,3190,9400,NaN,NaN,NaN
2015-06-30,NaN,9070,9800,1625,24800,16250,233000,22650,NaN,239777,...,NaN,690,NaN,NaN,NaN,3600,10600,NaN,NaN,NaN
2015-07-31,NaN,8160,9540,1648,24050,16250,191500,22350,NaN,236703,...,NaN,690,NaN,NaN,NaN,3380,9130,NaN,NaN,NaN
2015-08-31,NaN,7100,9120,1572,20950,15450,179000,22100,NaN,218258,...,NaN,690,NaN,NaN,NaN,3240,11100,NaN,NaN,NaN
2015-09-30,NaN,7020,9390,1512,20800,15900,135500,22800,NaN,213867,...,NaN,690,NaN,NaN,NaN,3210,9350,NaN,NaN,NaN
2015-10-30,NaN,6920,9920,1580,19200,16100,160500,22900,NaN,248560,...,NaN,1300,NaN,NaN,NaN,3585,7690,NaN,NaN,NaN
2015-11-30,NaN,7750,9490,1494,18950,15000,159000,24150,NaN,243290,...,NaN,NaN,NaN,NaN,NaN,3730,7080,NaN,NaN,NaN
2015-12-30,NaN,8140,8820,1911,19250,16150,159000,23400,NaN,239338,...,NaN,NaN,NaN,NaN,NaN,3620,7220,NaN,NaN,NaN
2016-01-29,NaN,9080,8800,1806,20000,14950,175000,29750,NaN,292476,...,NaN,NaN,NaN,NaN,NaN,3500,8100,NaN,NaN,NaN
2016-02-29,NaN,7700,8710,1715,20900,15750,177000,29450,NaN,227042,...,NaN,NaN,NaN,NaN,NaN,3440,6760,NaN,NaN,NaN
2016-03-31,NaN,8110,9460,1715,19650,16000,157500,28900,NaN,246365,...,NaN,NaN,NaN,NaN,NaN,4085,7710,NaN,NaN,NaN
2016-04-29,NaN,9330,10500,1806,17400,16150,163000,27950,NaN,256465,...,NaN,NaN,NaN,NaN,NaN,5070,7690,NaN,NaN,NaN
2016-05-31,NaN,10500,9950,1663,16200,15850,147000,25100,NaN,278422,...,NaN,NaN,NaN,NaN,NaN,4500,7330,NaN,NaN,NaN
2016-06-30,NaN,10100,9520,1715,17300,14700,146500,23850,NaN,268761,...,NaN,NaN,NaN,NaN,NaN,4875,8220,NaN,NaN,NaN
2016-07-29,NaN,9920,10100,1745,17200,15350,120500,22500,NaN,268761,...,NaN,NaN,NaN,NaN,NaN,4460,7880,NaN,NaN,NaN
2016-08-31,NaN,8830,10600,1663,17100,15550,120000,21900,NaN,253390,...,NaN,NaN,NaN,NaN,NaN,4035,7030,NaN,NaN,NaN
2016-09-30,NaN,8980,11400,1595,19300,15400,135500,22550,NaN,243729,...,NaN,NaN,NaN,NaN,NaN,3705,7120,NaN,NaN,NaN
2016-10-31,NaN,7780,12500,1399,18100,15950,125000,22000,NaN,184444,...,NaN,NaN,NaN,NaN,NaN,4020,5850,15300,NaN,NaN
2016-11-30,NaN,7720,12000,1294,17600,16500,122500,21750,NaN,173026,...,NaN,NaN,NaN,NaN,NaN,3865,5560,12950,NaN,NaN
2016-12-29,NaN,8120,12750,1298,15300,15300,119500,21100,NaN,182933,...,NaN,NaN,NaN,NaN,NaN,3740,6120,11900,NaN,NaN
2017-01-31,NaN,8210,13100,1181,14350,15050,102500,20800,NaN,172847,...,NaN,NaN,NaN,NaN,NaN,3960,5700,9300,NaN,NaN
2017-02-28,NaN,8900,13300,1184,14200,15400,112500,21100,NaN,205398,...,NaN,NaN,NaN,NaN,NaN,3930,5390,9500,NaN,NaN
2017-03-31,NaN,9090,13000,1181,14850,16000,123500,20350,NaN,204023,...,NaN,NaN,NaN,NaN,NaN,4040,4855,8840,NaN,NaN
2017-04-28,NaN,9200,14950,1068,14700,17700,126500,20900,NaN,212734,...,NaN,NaN,NaN,NaN,NaN,4375,5100,7500,NaN,NaN
2017-05-31,NaN,8990,15300,1339,16350,18800,133500,24200,NaN,229239,...,NaN,NaN,NaN,NaN,NaN,4520,4750,8190,NaN,NaN
2017-06-30,NaN,8470,18450,1365,15600,20050,122500,23300,NaN,225571,...,NaN,NaN,NaN,NaN,NaN,5680,4700,7600,NaN,NaN
2017-07-31,NaN,8180,19100,1168,16300,23650,115000,23950,NaN,216860,...,NaN,NaN,NaN,NaN,NaN,5410,4165,7900,NaN,NaN
2017-08-31,NaN,9050,18600,1020,14650,25300,107000,26100,NaN,207233,...,NaN,NaN,NaN,NaN,NaN,6400,4345,7190,NaN,NaN
2017-09-29,NaN,8560,17850,778,14100,24650,88500,26300,NaN,189352,...,NaN,NaN,NaN,NaN,NaN,5850,4265,6280,NaN,NaN
2017-10-31,NaN,8840,16400,608,14550,25700,90400,26600,NaN,187059,...,NaN,NaN,NaN,NaN,NaN,5940,4570,6820,NaN,NaN
2017-11-30,NaN,10300,16200,522,13650,25700,102500,23700,NaN,201730,...,NaN,NaN,NaN,NaN,NaN,7750,4695,6620,54500,NaN
2017-12-28,NaN,9750,15750,489,13900,23500,122000,24100,NaN,209565,...,NaN,NaN,NaN,NaN,NaN,7200,4580,6000,51800,NaN
2018-01-31,NaN,10800,16850,632,14500,24900,121500,23000,NaN,222961,...,NaN,NaN,NaN,NaN,NaN,9850,6030,6180,56500,NaN
2018-02-28,NaN,11400,16600,561,14050,22850,111500,22000,NaN,199039,...,NaN,NaN,NaN,NaN,NaN,8850,5210,5570,47050,NaN
2018-03-30,NaN,12250,14650,577,14050,21050,98000,22450,NaN,212435,...,NaN,NaN,NaN,NaN,NaN,8060,5050,5200,48400,NaN
2018-04-30,NaN,11550,16050,667,14900,20950,111000,21800,NaN,219134,...,NaN,NaN,NaN,NaN,NaN,8550,5250,6260,41150,14950
2018-05-31,NaN,11450,15300,722,13050,20500,114500,20150,NaN,227746,...,NaN,NaN,NaN,NaN,NaN,7700,4965,6270,32600,13000
2018-06-29,NaN,10200,16300,603,13850,19200,119000,19650,NaN,208129,...,NaN,NaN,NaN,NaN,NaN,7100,4645,5250,38400,11700
2018-07-31,NaN,11050,16900,585,12750,18400,114000,18200,NaN,213392,...,NaN,NaN,NaN,NaN,NaN,7820,4335,4715,36400,10950
2018-08-31,NaN,11600,16300,587,13750,18250,102000,16800,NaN,228703,...,NaN,NaN,NaN,NaN,NaN,8550,4585,5040,41350,9890
2018-09-28,NaN,11350,16900,586,13000,19350,101500,16850,NaN,232052,...,NaN,NaN,NaN,NaN,NaN,8470,4960,5150,48900,8750
2018-10-31,NaN,9050,15750,558,11850,18200,86300,15750,NaN,160283,...,NaN,NaN,NaN,NaN,NaN,7150,3985,5610,34000,6570
2018-11-30,NaN,9110,15650,512,11250,21200,87500,17500,NaN,217698,...,2340,NaN,NaN,NaN,NaN,15300,4150,7290,41900,8200
2018-12-28,NaN,9100,15600,500,10800,21850,78500,16600,NaN,204500,...,1395,NaN,NaN,NaN,NaN,16300,4285,6230,43150,6730
2019-01-31,NaN,9840,14800,528,11000,22200,83200,16900,NaN,238000,...,1535,NaN,NaN,NaN,NaN,14200,4015,5490,39200,7120
2019-02-28,NaN,9800,NaN,507,11250,22100,84300,17700,NaN,260500,...,2290,NaN,NaN,NaN,NaN,12600,3980,5490,40300,8710

## 블로그 따라해보기

In [ ]:
from datetime import datetime,timedelta
import FinanceDataReader as fdr
import matplotlib.pyplot as plt
import pandas as pd
from dateutil.relativedelta import relativedelta

# 종가 가져오기
def load_data(code, start_date): 
    data = fdr.DataReader(code, start_date)
    return data['Close']

def buy_etf(money, etf_price, last_etf_num, free_rate, etf_rate):
    etf_num = money * etf_rate // etf_price
    etf_money = etf_num * etf_price
    etf_fee = (last_etf_num - etf_num) * etf_price * free_rate if last_etf_num > etf_num else 0
    
    while eft_num>0 and money< (etf_money +etf_fee):
        etf_num -= 1 
        etf_money = etf_num * etf_price
        etf_fee = (last_etf_num - etf

In [ ]:
def pfo_backtest(st_list, init_money, backtest_price, st_date, ed_date):

    selected_list = st_list

    each_money = init_money/len(selected_list)
    backtest_price = backtest_price[st_date: ed_date]

    pf_value = 0
    for code in selected_list:
        first_num = int(each_money/int(backtest_price.iloc[0][code]))  # 처음 매입종목수 결정
        pf_value = pf_value + pd.to_numeric(backtest_price[code].iloc[0]) * first_num  # pfo의 현재가치
    
    # 남은 현금
    cash = init_money - pf_value[0]
    cash_pf = []
    
    for i in range(0, len(pf_value)):
        cash_pf.append(cash * (1 + riskfree_rate/12)**i)

    backtest_df = pd.DataFrame({'주식포트': pf_value})
    backtest_df['현금포트'] = cash_pf
    backtest_df['종합포트'] = backtest_df['주식포트'] + backtest_df['현금포트']
    
    backtest_df['종합포트'].plot()

    return backtest_df