In [25]:
import pandas as pd
import numpy as np
import re
from IPython.display import display

In [27]:
import pickle
df = pd.read_pickle('선출용데이터.pkl')

In [6]:
# 얘들아 이거 돌려볼 필요없어 밑으로가 

# 테이블들 하나하나 확인해서 re로 저 키워드 포함된 테이블 있으면 위치 따놓는 코드
indlst = set()
for num in range(11,len(df)):
    for ind, tdf in enumerate(df.iloc[num,-1]):
        #display(tdf)
        mi = len(tdf.columns)
        flag = 0
        for i in range(mi):
            if flag:
                flag = 0
                break
            for val in tdf.iloc[:,i].astype(str).str.replace(' ','').values:
                if re.search('원자재|원재료|매출원가|제조원가',val):
                    indlst.add((num, ind))
                    flag=1
                    break

In [17]:
# 저장 해놓고 보니 꼴보기 싫어서 딕셔너리형태로 재저장한 코드
dfind, temp = indlst[0]
tbl = [temp]
di = dict()
for tempdf ,temptbl in indlst[1:]:
    if tempdf == dfind:
        tbl.append(temptbl)
    else:
        di[dfind] = tbl
        tbl = [temptbl]
        dfind = tempdf

In [31]:
# 공유하려고 pkl 형태로 저장 
import pickle
with open('pick.pkl','wb') as f:
    pickle.dump(di, f)

In [32]:
# pkl 불러오는 코드(위에 불러올 필요없이 여기부터 보셈 )
import pickle
df = pd.read_pickle('선출용데이터.pkl')
with open('pick.pkl','rb') as f:
    di = pickle.load(f)

In [37]:
key = list(di.keys())[0]
print(df.iloc[key,0],df.iloc[key,1],df.iloc[key,2])
for tbl in di[key]:
    display(df.iloc[key,3][tbl])

대원화성 024890 분기보고서 (2021.09)

  사업부문 매입유형    품 목     구체적용도    매입액   비율(%)
0   벽지  원재료    원지류       벽지용    869    3.97
1   벽지  원재료    약품류       벽지용   1272    5.81
2   벽지  원재료  기타첨가제       벽지용   1392    6.36
3   합피  원재료    포직류       합피용  10214   46.69
4   합피  원재료    약품류       합피용   6907   31.57
5   합피  원재료  기타첨가용       합피용    951    4.34
6   공통  원재료    용 제  합피벽지, 공통    276    1.26
7  합 계  합 계    합 계       합 계  21881  100.00

,과 목,과 목.1,제48기3분기,제47기,제46기,비 고
0,원 재 료 비,원 재 료 비,659.00,1013,1262,NaN
1,인 건 비,인 건 비,386.00,512,740,NaN
2,감 가 상 각 비,감 가 상 각 비,NaN,NaN,-,NaN
3,위 탁 용 역 비,위 탁 용 역 비,NaN,NaN,-,NaN
4,기 타,기 타,101.00,351,448,NaN
5,연구개발비용 계,연구개발비용 계,1146.00,1876,2450,NaN
6,(정부부조금),(정부부조금),117.00,74,(460),NaN
7,회계처리,판매비와 관리비,949.00,1649,1064,NaN
8,회계처리,제조경비,80.00,153,138,NaN
9,회계처리,개발비(무형자산),NaN,-,788,NaN
10,연구개발비 / 매출액 비율[연구개발비용계÷당기매출액×100],연구개발비 / 매출액 비율[연구개발비용계÷당기매출액×100],1.26,1.65,1.50%,NaN

,구 분,제 48 기 3분기,제 47 기,제 46 기
0,[유동자산],75062547,62048439,61578766
1,ㆍ당좌자산,44067185,39844690,41770097
2,ㆍ재고자산,30995363,22203749,19808668
3,[비유동자산],68499618,67747910,68919190
4,ㆍ장기매출채권,10668395,10875742,17062747
5,ㆍ투자자산,9734638,8452749,1102984
6,ㆍ유형자산,47088356,47043074,49015825
7,ㆍ무형자산,928029,866062,920444
8,ㆍ기타비유동자산,80200,510282,817190
9,자산총계,143562165,129796349,130497955
10,[유동부채],55659320,47038425,39858678
11,[비유동부채],9907080,6732834,11211097
12,부채총계,65566400,53771259,51069776
13,[자본금],20624576,20624576,20624576
14,[자본잉여금],22483965,22483965,22483965
15,[자본조정],"(902,244)","(597,423)","(300,248)"
16,[기타포괄손익누계액],2395247,"(169,144)",1367951
17,[이익잉여금],33372880,33664718,35236397
18,[비지배지분],21341,18397,15540
19,자본총계,77995765,76025090,79428180
20,기간,2021.01.01~2021.09.30,2020.01.01~2020.12.31,2019.01.01~2019.12.31
21,매출액,81516578,108787317,133052794
22,매출원가,69923289,91400690,106595565
23,매출총이익,11593289,17386627,26457230
24,판관비와 관리비,11814521,17038405,18189621
25,영업이익,"(221,232)",348221,8267609
26,당기순이익,116699,"(2,183,150)",5860058
27,총포괄이익,2681090,"(2,706,109)",6148875
28,지배기업의 귀속순이익,117388,"(2,174,658)",5866788
29,비지배지분,(689),"(8,492)","(6,730)"
30,주당순이익(원),3,(53),143
31,연결에 포함된 회사수,4,4,4

,구 분,제 48 기 3분기,제 47 기,제 46 기
0,[유동자산],44650491,40487636,45562514
1,ㆍ당좌자산,31505448,28980808,35980110
2,ㆍ재고자산,13145043,11506828,9582403
3,[비유동자산],89882064,84996830,80430182
4,ㆍ장기매출채권,10668395,10875742,17062747
5,ㆍ종속기업투자,29487801,24962418,19803301
6,ㆍ투자자산,9406204,8510439,1169347
7,ㆍ유형자산,40084042,40404448,42099313
8,ㆍ무형자산,155423,146714,142404
9,ㆍ기타비유동자산,80200,97069,153069
10,자산총계,134532555,125484466,125992696
11,[유동부채],47060342,43192385,36289449
12,[비유동부채],9928974,6602077,10856282
13,부채총계,56989317,49794461,47145732
14,[자본금],20624576,20624576,20624576
15,[자본잉여금],22483965,22483965,22483965
16,[자본조정],"(597,423)","(300,248)","(300,248)"
17,[기타포괄손익누계액],2944416,284611,1904912
18,[이익잉여금],32087705,32597101,34133760
19,자본총계,77543239,75690005,78846965
20,종속·관계·공동기업투자주식의 평가 방법,원가법,원가법,원가법
21,기간,2021.01.01~2021.09.30,2020.01.01~2020.12.31,2019.01.01~2019.12.31
22,매출액,77246001,102197808,127849798
23,매출원가,71650137,94878318,114994657
24,매출총이익,5595864,7319490,12855141
25,판관비와 관리비,8848386,13190374,13644475
26,영업이익,"(3,252,522)","(5,870,885)","(789,334)"
27,당기순이익,"(100,170)","(2,139,638)",5912643
28,총포괄이익,2559635,"(2,745,803)",6189472
29,주당순이익(원),(2 ),(52),144

                                Unnamed: 0_level_0     제 48 기 3분기  \
                                Unnamed: 0_level_1            3개월
0                                        Ⅰ.수익(매출액)    25364023453
1                                           Ⅱ.매출원가    22370766080
2                                          Ⅲ.매출총이익     2993257373
3                                        Ⅳ.판매비와관리비     3816319998
4                                       Ⅴ.영업이익(손실)  (823,062,625)
5                                           Ⅵ.기타이익     1000492589
6                                           Ⅶ.기타손실      532625910
7                                           Ⅷ.금융수익       33164826
8                                           Ⅸ.금융원가      277910570
9                                Ⅹ.법인세비용차감전순이익(손실)  (599,941,690)
10                                        XI.법인세비용   (27,697,797)
11                                    XⅡ.당기순이익(손실)  (572,243,893)
12                                       XⅢ.기타포괄손익     1609347759
13                (1)당기손익으로 재분류될 수 있는 항목(세후기타포괄손익)     1609347759
14                         1.해외사업장환산외환차이(세후기타포괄손익)     1609347759
15  2.지분법 적용대상 관계기업과 공동기업의 기타포괄손익에 대한 지분(세후기타포괄손익)              0
16                  (2)당기손익으로 재분류되지 않는항목(세후기타포괄손익)              0
17                       1.확정급여제도의 재측정손익(세후기타포괄손익)              0
18                                       XIV.총포괄손익     1037103866
19                                XV.당기순이익(손실)의 귀속            NaN
20                   (1)지배기업의 소유주에게 귀속되는 당기순이익(손실)  (574,582,815)
21                        (2)비지배지분에 귀속되는 당기순이익(손실)        2338922
22                                  XVI.총 포괄손익의 귀속            NaN
23                  (1)총 포괄손익, 지배기업의 소유주에게 귀속되는 지분     1034764944
24                                (2)총 포괄손익, 비지배지분        2338922
25                                       XVII.주당이익            NaN
26                          (1)기본주당이익(손실) (단위 : 원)           (14)
27                          (2)희석주당이익(손실) (단위 : 원)           (14)

                      제 47 기 3분기
               누적            3개월           누적
0     81516577884    24909365981  78904331685
1     69923288915    20833037435  66171393400
2     11593288969     4076328546  12732938285
3     11814520624     3485873958  11612563689
4   (221,231,655)      590454588   1120374596
5      2200382813      251303366   2208917399
6      1348576397      401129671   1272843209
7        98674060       28165601     93695065
8       790813907      242814829    915465626
9    (61,565,086)      225979055   1234678225
10  (178,264,400)      133851077    969754832
11      116699314       92127978    264923393
12     2564390872  (597,234,629)     73180559
13     2564390872  (597,234,629)     73180559
14     2564390872  (597,234,629)     73180559
15              0              0            0
16              0              0            0
17              0              0            0
18     2681090186  (505,106,651)    338103952
19            NaN            NaN          NaN
20      117387840       94295903    272169490
21      (688,526)    (2,167,925)  (7,246,097)
22            NaN            NaN          NaN
23     2681778712  (502,938,726)    345350049
24      (688,526)    (2,167,925)  (4,016,097)
25            NaN            NaN          NaN
26              3              2            7
27              3              2            7

    구분     평가전금액   순실현가능가치      평가충당금
    구분     평가전금액   순실현가능가치        당분기    당분기누계
0   제품  15249966  13481443   (12,976)  1768523
1   상품   1163770    857257      32451   306513
2  재공품   6238442   6238442          -        -
3  원재료  10035200   8556620  (361,851)  1478580
4  저장품   1655681   1655681          -        -
5  미착품    205921    205921          -        -
6  합 계  34548979  30995363  (342,375)  3553616

    구분     평가전금액   순실현가능가치      평가충당금
    구분     평가전금액   순실현가능가치         전기     전기누계
0   제품  11661089   9905542     661882  1755547
1   상품    908264    569299  (194,708)   338965
2  재공품   4758152   4758152          -        -
3  원재료   5953258   4836529  (248,314)  1116729
4  저장품   1797766   1797766          -        -
5  미착품    336461    336461          -        -
6   합계  25414990  22203749     218860  3211241

        구분    당분기    전분기
0  판매비와관리비   7110   6359
1     매출원가  21486  19403
2      합 계  28597  25762

        구분     계정과목      당분기      전분기
0  판매비와관리비  경상연구개발비  1065948  1405276
1     매출원가  경상연구개발비    80280   125464
2      합 계      합 계  1146228  1530740

        구분     당분기     전분기
0     제조원가  326580  140409
1  판매비와관리비  146639   82616
2       합계  473219  223025

        구분     당분기     전분기
0     제조원가   42153   47798
1  판매비와관리비  146044  112217
2       합계  188197  160015

       구분       당분기                 전분기
       구분        분기        누계        분기        누계
0  제품매출원가  18949073  60129760  18808175  57919780
1  상품매출원가   3421693   9793529   2024862   8251613
2     합 계  22370766  69923289  20833037  66171393

        구분          당분기                  전분기
        구분           분기        누계         분기        누계
0  재고자산 증가      4034379   3812426  (243,823)    993438
1   원재료 투입     16159677  49236098   14005316  43119579
2    상품매입액      3700144  10279572    2003796   8483152
3       급여      2898296   8818852    2912114   9488734
4     퇴직급여       206474    661415     266981    840443
5    복리후생비       506527   1469440     445410   1515824
6    감가상각비       463904   1454219     515456   1674185
7  무형자산상각비        10979     28597       8832     25762
8       기타  (1,793,295)   5977191    4404829  11642840
9   합계(주1)     26187086  81737810   24318911  77783957

,사업부문,계정과목,제48기 3분기,제47기,제46기,비고
0,벽지,"원재료,저장품外",779.00,736.00,1171.00,NaN
1,벽지,소 계,779.00,736.00,1171.00,NaN
2,합성피혁/정제,제품,13481.00,9905.00,7959.00,NaN
3,합성피혁/정제,"원재료,저장품外",16735.00,11562.00,10679.00,NaN
4,합성피혁/정제,소 계,30216.00,21467.00,18638.00,NaN
5,합 계,제품,13481.00,9905.00,7959.00,NaN
6,합 계,"원재료,저장품外",17514.00,12298.00,11850.00,NaN
7,합 계,합 계,30995.00,22203.00,19809.00,NaN
8,총자산대비 재고자산 구성비율(%)[재고자산합계÷기말자산총계×100],총자산대비 재고자산 구성비율(%)[재고자산합계÷기말자산총계×100],21.59,17.11,15.17,NaN
9,재고자산회전율(회수)[연환산 매출원가÷{(기초재고＋기말재고)÷2}],재고자산회전율(회수)[연환산 매출원가÷{(기초재고＋기말재고)÷2}],3.51,4.35,5.32,NaN

      0      1        2      3    4
0  계정과목   보유금액  평가손실충당금   기말잔액  비 고
1   원재료  10035  (1,479)   8556  NaN
2   제 품  15250  (1,769)  13481  NaN
3   상 품   1164    (307)    857  NaN
4   합 계  26449  (3,555)  22894  NaN

                                Unnamed: 0_level_0       제 48 기 3분기  \
                                Unnamed: 0_level_1              3개월
0                                        Ⅰ.수익(매출액)      23904850576
1                                           Ⅱ.매출원가      22352048955
2                                          Ⅲ.매출총이익       1552801621
3                                        Ⅳ.판매비와관리비       2933923814
4                                       Ⅴ.영업이익(손실)  (1,381,122,193)
5                                           Ⅵ.기타이익        948151833
6                                           Ⅶ.기타손실        399206997
7                                           Ⅷ.금융수익         33023335
8                                           Ⅸ.금융원가        237566969
9               Ⅹ.종속기업, 공동지배기업과 관계기업으로부터의 기타수익(비용)        161015427
10                              XI.법인세비용차감전순이익(손실)    (875,705,564)
11                                        XⅡ.법인세비용     (94,020,382)
12                                    XⅢ.당기순이익(손실)    (781,685,182)
13                                      XIV.기타포괄손익       1658423246
14                (1)당기손익으로 재분류될 수 있는 항목(세후기타포괄손익)       1658423246
15  1.지분법 적용대상 관계기업과 공동기업의 기타포괄손익에 대한 지분(세후기타포괄손익)       1658423246
16                  (2)당기손익으로 재분류되지 않는항목(세후기타포괄손익)                0
17                       1.확정급여제도의 재측정손익(세후기타포괄손익)                0
18                                        XV.총포괄손익        876738064
19                                        XVI.주당이익              NaN
20                          (1)기본주당이익(손실) (단위 : 원)             (19)
21                          (2)희석주당이익(손실) (단위 : 원)             (19)

                        제 47 기 3분기
                 누적            3개월               누적
0       77246001297    23663389865      74427995424
1       71650137086    21631440650      69469423139
2        5595864211     2031949215       4958572285
3        8848386164     2207385623       8597130909
4   (3,252,521,953)  (175,436,408)  (3,638,558,624)
5        2060865413      224691572       2051609904
6        1054067162      274919524       1025943545
7          97916518       27741812         92559610
8         671664688      185621984        714360914
9        1940396276      789336667       4176322874
10    (879,075,596)      405792135        941629305
11    (778,905,508)       16828009        366773218
12    (100,170,088)      388964126        574856087
13       2659804625  (583,975,377)         84032740
14       2659804625  (583,975,377)         84032740
15       2659804625  (583,975,377)         84032740
16                0              0                0
17                0              0                0
18       2559634537  (195,011,251)        658888827
19              NaN            NaN              NaN
20              (2)              9               14
21              (2)              9               14

    구분  평가전 장부금액   순실현가능가치      평가충당금
    구분  평가전 장부금액   순실현가능가치        당분기    당분기누계
0   제품   6570180   5137148      19221  1433032
1   상품   1579491   1301175      34927   278316
2  재공품   3930954   3930954          -        -
3  원재료   2939689   2208397  (290,134)   731292
4  저장품    361447    361447          -        -
5  미착품    205921    205921          -        -
6   합계  15587683  13145043  (235,986)  2442640

    구분  평가전 장부금액   순실현가능가치      평가충당금
    구분  평가전 장부금액   순실현가능가치         전기     전기누계
0   제품   5998585   4546333     546984  1452253
1   상품   1195204    881961       5715   313243
2  재공품   3430299   3430299          -        -
3  원재료   2393439   1952280  (117,496)   441158
4  저장품    359494    359494          -        -
5  미착품    336461    336461          -        -
6   합계  13713482  11506828     435203  2206654

        구분   당분기   전분기
0  판매비와관리비  7110  5948
1     매출원가    42    43
2       합계  7152  5990

         구분     계정과목     당분기      전분기
0  판매비와 관리비  경상연구개발비  903905  1318094
1      매출원가  경상연구개발비   80280   125464
2        합계       합계  984186  1443558

        구분     당분기     전분기
0     제조원가  326580  422922
1  판매비와관리비  146639  246152
2       합계  473219  669075

        구분     당분기     전분기
0     제조원가   42153   47798
1  판매비와관리비  146044  112217
2       합계  188197  160015

       구분       당분기                 전분기
       구분        분기        누적        분기        누적
0  제품매출원가  11630840  33766069  10391756  31615896
1  상품매출원가  10721209  37884068  11239684  37853527
2      합계  22352049  71650137  21631441  69469423

        구분        당분기                       전분기
        구분         분기           누계           분기           누계
0   재고자산증감  (691,710)  (3,297,220)  (1,462,546)  (4,190,376)
1   원재료매입액    6888913     22141672      6849576     20507921
2    상품매입액   11438607     39062680     12032864     39160091
3       급여    1908311      5892790      2001392      6458813
4     퇴직급여     206474       661415       266981       840443
5    복리후생비     294073       983047       307475      1082041
6    감가상각비     173164       521731       253099       865888
7  무형자산상각비       2355         7152         2076         5990
8       기타    5065785     14525255      3587910     13335742
9   합계(주1)   25285973     80498523     23838826     78066554

,사업부문,계정과목,제48기 3분기,제47기,제46기,비고
0,벽지,"원재료,저장품外",779.00,736.00,1171.00,NaN
1,벽지,소 계,779.00,736.00,1171.00,NaN
2,합성피혁/정제,제품,5137.00,4546.00,3540.00,NaN
3,합성피혁/정제,"원재료,저장품外",7229.00,6224.00,4798.00,NaN
4,합성피혁/정제,소 계,12366.00,11506.00,8338.00,NaN
5,합 계,제품,5137.00,4546.00,3540.00,NaN
6,합 계,"원재료,저장품外",8008.00,6960.00,5969.00,NaN
7,합 계,합 계,13145.00,11506.00,9509.00,NaN
8,총자산대비 재고자산 구성비율(%)[재고자산합계÷기말자산총계×100],총자산대비 재고자산 구성비율(%)[재고자산합계÷기말자산총계×100],9.77,9.17,7.54,NaN
9,재고자산회전율(회수)[연환산 매출원가÷{(기초재고＋기말재고)÷2}],재고자산회전율(회수)[연환산 매출원가÷{(기초재고＋기말재고)÷2}],7.75,9.00,11.09,NaN

      0      1        2     3    4
0  계정과목   보유금액  평가손실충당금  기말잔액  비 고
1   원재료   2939    (731)  2208  NaN
2   제 품   6570  (1,433)  5137  NaN
3   상 품   1579    (278)  1301  NaN
4   합 계  11088  (2,442)  8646  NaN

In [35]:
df.iloc[:,0:3]

          회사명    종목코드              보고서
0       폴리플러스  065610  사업보고서 (2011.12)
1       샤인시스템  066300  사업보고서 (2014.12)
2   에스와이이노베이션  194860  사업보고서 (2016.12)
3        제일모직  001300  분기보고서 (2014.03)
4       아스팩오일  232360  사업보고서 (2016.12)
..        ...     ...              ...
84     오성첨단소재  052420  분기보고서 (2021.09)
85      넥센타이어  002350  분기보고서 (2021.09)
86    화승인더스트리  006060  분기보고서 (2021.09)
87     티케이케미칼  104480  분기보고서 (2021.09)
88        휴비스  079980  분기보고서 (2021.09)

[89 rows x 3 columns]